openapi: 3.0.3
info:
  title: Antifraud Access Ecommerce API
  description: Antifraud services
  license:
    name: Apache License Version 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '2.0'
servers:
- url: https://api-sandbox.koin.com.br
  description: Sandbox domain url
tags:
- name: Ecommerce
paths:
  /v1/antifraud/pre-evaluations:
    post:
      tags:
      - Ecommerce
      summary: Create Pre-Evaluation
      description: Receives a new transaction for antifraud analysis, its meant to be used before payment authorization.
      operationId: createPreEvaluationUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EcommerceAntiFraud'
            examples:
              Ecommerce:
                value:
                  buyer:
                    address:
                      city: sao paulo
                      complement: Dsauvybixo
                      country_code: BR
                      neighborhood: Iwewsfjyol
                      number: '1234'
                      state: sao paulo
                      street: One street
                      zip_code: '12345'
                    birth_date: '1980-05-06'
                    document:
                      nationality: BR
                      number: '11123456'
                      type: CPF
                    email: test@gmail.com
                    full_name: Dgvwicjiqr Amdbvqkbja
                    gender: MALE
                    id: '1234'
                    phone:
                      area_code: '1265'
                      number: '12345678'
                      type: MOBILE
                  callback_url: https://postman-echo.com/post
                  device:
                    ipv4: 191.111.186.20
                    location:
                      latitude: -14.11132789616039
                      longitude: -48.44445822129388
                    merchant_device: b3692474-a298-41be-8b1c-938965d5b5ed
                    session_id: 40151f31-dff5-46ab-b6f7-2191bf992003
                  items:
                  - category:
                      id: '17877451306'
                      name: Vtiqzgxlwh
                    discount_amount:
                      currency: USD
                      value: 2344
                    id: '17803811909'
                    name: Aszmxlpebz
                    price:
                      currency: USD
                      value: 8008.99
                    quantity: 3
                    seller_id: '16223265193'
                    service_date: '2023-02-10T13:50:31.000Z'
                    type: Generic
                  payments:
                  - amount:
                      currency: USD
                      value: 8008.99
                    concept: Ergvekrvit Prtldbjwjs
                    details:
                      bin: '424242'
                      brand_name: Visa
                      eci: '123'
                      expiration_month: '03'
                      expiration_year: '2032'
                      last_digits: '4444'
                    id: '12345'
                    installments: 11
                    method: CreditCard
                    payer:
                      address:
                        city: sao paulo
                        complement: Vzeiidkesz
                        country_code: BR
                        full_address: Zluqwxxdhc 10091
                        neighborhood: Fcbcwsgudy
                        state: sao paulo
                        zip_code: '15060'
                      birth_date: '1978-04-29'
                      document:
                        nationality: BR
                        number: '12345678'
                        type: CPF
                      email: test@gmail.com
                      first_name: Spoignvdki
                      gender: OTHER
                      id: '12345'
                      last_name: Rljwjfspta
                      phone:
                        area_code: '123'
                        number: '1234567'
                        type: MOBILE
                    subscription: false
                  service_date: '2023-02-02T13:50:31.000Z'
                  shipping:
                    address:
                      city: sao paulo
                      complement: Vpqbsrobnf
                      country_code: BR
                      full_address: Uychukpruh 10666
                      neighborhood: Pnddnuzvys
                      state: sao paulo
                      zip_code: '18476'
                    delivery:
                      by: DHL
                      date: '2023-02-10T13:50:31.000Z'
                      type: EXPRESS
                    price:
                      currency: USD
                      value: 45.99
                  sla_date: '2023-02-10T13:50:31.000Z'
                  store:
                    category: '17057'
                    code: Hrrnhqqisi
                    latitude: -34.56532789616039
                    longitude: -58.48945822129388
                    merchant_type: shopping
                  transaction:
                    agency_id: AGEN-12345
                    business_id: '1234567'
                    country_code: BR
                    reference_id: '123456'
                    sequence: 1
                    listener_mode: false
                    total_amount:
                      currency: USD
                      value: 8008.99
                  client_info:
                    creation_date: '1978-04-29T17:10:35.387Z'
                    classification: GOLD
                    customer_order:
                      currency_code: USD
                      value: 45.99
                    days_since_first_order: 45
                    days_since_last_order: 10
                    cancelled_orders: 3
                    average_order:
                      currency_code: USD
                      value: 45.99
                    cash_orders: 3
                    card_orders: 6
                    bank_orders: 4
                    debit_orders: 2
                    super_segmentation: potential
                    purchase_power: pph
                    year_first_purchase: 2024
                    purchases_30_days: 12
                    purchases_60_days: 22
                    purchases_lifetime: 32
                  strategies_data:
                    collect_auth_supported: true
                    acquirer_bin: '408956'
                    acquirer: WDP
                    merchant_id: BRLIARLEGAPR
                    mcc: '1234'
                    merchant_descriptor: DAGS_TEST_3DS
                  type: Ecommerce
      responses:
        '200':
          description: Evaluation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardApiPreEvalResponse'
              examples:
                Evaluation response:
                  value: '{ "id": "VEFRUD8HUR25N4992221", "evaluation_id": "31ff2cc8-199e-4c3c-ba2d-4d85b88bd9f2", "status": "received", "score": 50, "analysis_type": "AUTOMATIC" }'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
              examples:
                Bad Request:
                  value: '{ "code": 400, "message": "Validation errors", "causes": [ "device.ip must not be blank" ] }'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
              examples:
                Unauthorized Request:
                  value: '{ "code": 401, "message": "Store does not have access to path." }'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
              examples:
                Error:
                  value: '{ "code": 500, "message": "Critical error in service for caseId db9279fd-2cc2-4672-aa13-1f02af50c488" }'
  /v1/antifraud/evaluations:
    post:
      tags:
      - Ecommerce
      summary: Create Evaluation
      description: Receives a new transaction for antifraud analysis, if used with pre-evaluation it should be called after the payment authorization. Its mandatory to reuse the reference_id from pre-evaluation.
      operationId: createEvaluationUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EcommerceAntiFraud'
            examples:
              Ecommerce:
                value:
                  buyer:
                    address:
                      city: sao paulo
                      complement: Dsauvybixo
                      country_code: BR
                      neighborhood: Iwewsfjyol
                      number: '1234'
                      state: sao paulo
                      street: One street
                      zip_code: '12345'
                    birth_date: '1980-05-06'
                    document:
                      nationality: BR
                      number: '11123456'
                      type: CPF
                    email: test@gmail.com
                    full_name: Dgvwicjiqr Amdbvqkbja
                    gender: MALE
                    id: '1234'
                    phone:
                      area_code: '1265'
                      number: '12345678'
                      type: MOBILE
                  callback_url: https://postman-echo.com/post
                  device:
                    ipv4: 191.111.186.20
                    location:
                      latitude: -14.11132789616039
                      longitude: -48.44445822129388
                    merchant_device: b3692474-a298-41be-8b1c-938965d5b5ed
                    session_id: 40151f31-dff5-46ab-b6f7-2191bf992003
                  items:
                  - category:
                      id: '17877451306'
                      name: Vtiqzgxlwh
                    discount_amount:
                      currency: USD
                      value: 2344
                    id: '17803811909'
                    name: Aszmxlpebz
                    price:
                      currency: USD
                      value: 8008.99
                    quantity: 3
                    seller_id: '16223265193'
                    service_date: '2023-02-10T13:50:31.000Z'
                    type: Generic
                  payments:
                  - amount:
                      currency: USD
                      value: 8008.99
                    concept: Ergvekrvit Prtldbjwjs
                    details:
                      bin: '424242'
                      brand_name: Visa
                      eci: '123'
                      expiration_month: '03'
                      expiration_year: '2032'
                      last_digits: '4444'
                    id: '12345'
                    installments: 11
                    method: CreditCard
                    payer:
                      address:
                        city: sao paulo
                        complement: Vzeiidkesz
                        country_code: BR
                        full_address: Zluqwxxdhc 10091
                        neighborhood: Fcbcwsgudy
                        state: sao paulo
                        zip_code: '15060'
                      birth_date: '1978-04-29'
                      document:
                        nationality: BR
                        number: '12345678'
                        type: CPF
                      email: test@gmail.com
                      first_name: Spoignvdki
                      gender: OTHER
                      id: '12345'
                      last_name: Rljwjfspta
                      phone:
                        area_code: '123'
                        number: '1234567'
                        type: MOBILE
                    subscription: false
                  service_date: '2023-02-02T13:50:31.000Z'
                  shipping:
                    address:
                      city: sao paulo
                      complement: Vpqbsrobnf
                      country_code: BR
                      full_address: Uychukpruh 10666
                      neighborhood: Pnddnuzvys
                      state: sao paulo
                      zip_code: '18476'
                    delivery:
                      by: DHL
                      date: '2023-02-10T13:50:31.000Z'
                      type: EXPRESS
                    price:
                      currency: USD
                      value: 45.99
                  sla_date: '2023-02-10T13:50:31.000Z'
                  store:
                    category: '17057'
                    code: Hrrnhqqisi
                    latitude: -34.56532789616039
                    longitude: -58.48945822129388
                    merchant_type: shopping
                  transaction:
                    agency_id: AGEN-12345
                    business_id: '1234567'
                    country_code: BR
                    reference_id: '123456'
                    sequence: 1
                    listener_mode: false
                    total_amount:
                      currency: USD
                      value: 8008.99
                  client_info:
                    creation_date: '1978-04-29T17:10:35.387Z'
                    classification: GOLD
                    customer_order:
                      currency_code: USD
                      value: 45.99
                    days_since_first_order: 45
                    days_since_last_order: 10
                    cancelled_orders: 3
                    average_order:
                      currency_code: USD
                      value: 45.99
                    cash_orders: 3
                    card_orders: 6
                    bank_orders: 4
                    debit_orders: 2
                    super_segmentation: potential
                    purchase_power: pph
                    year_first_purchase: 2024
                    purchases_30_days: 12
                    purchases_60_days: 22
                    purchases_lifetime: 32
                  strategies_data:
                    collect_auth_supported: true
                    acquirer_bin: '408956'
                    acquirer: WDP
                    merchant_id: BRLIARLEGAPR
                    mcc: '1234'
                    merchant_descriptor: DAGS_TEST_3DS
                  type: Ecommerce
      responses:
        '200':
          description: Evaluation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardApiResponse'
              examples:
                Evaluation response:
                  value: '{ "id": "VEFRUD8HUR25N4992221", "evaluation_id": "31ff2cc8-199e-4c3c-ba2d-4d85b88bd9f2", "status": "received", "score": 50, "analysis_type": "AUTOMATIC" }'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
              examples:
                Bad Request:
                  value: '{ "code": 400, "message": "Validation errors", "causes": [ "device.ip must not be blank" ] }'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnAuthorizedResponse'
              examples:
                Unauthorized Request:
                  value: '{ "code": 401, "message": "Store does not have access to path." }'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'
              examples:
                Error:
                  value: '{ "code": 500, "message": "Critical error in service for caseId db9279fd-2cc2-4672-aa13-1f02af50c488" }'
components:
  schemas:
    PrePaidCard:
      title: PrePaidCard
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseCardPayment'
    Person:
      title: Person
      type: object
      properties:
        id:
          type: string
          description: Client custom person identifier
          example: c1245228
        first_name:
          type: string
          description: First name. Required if full_name is blank.
          example: Alvaro
        last_name:
          type: string
          description: Last name.  Required if full_name is blank.
          example: Garrincha
        full_name:
          type: string
          description: Full name. Is required if first_name and last_name are blank
          example: Alvaro Garrincha
        document:
          $ref: '#/components/schemas/Document'
        gender:
          type: string
          description: Gender
          enum:
          - FEMALE
          - MALE
          - OTHER
        address:
          $ref: '#/components/schemas/Address'
        birth_date:
          type: string
          description: Birthdate
          example: '1990-05-06'
        email:
          type: string
          description: Email contact. Required for Ecommerce Antifraud Data
          example: email@domain.com
        phone:
          description: phone
          $ref: '#/components/schemas/Phone'
    BaseDeviceData:
      title: device
      type: object
      properties:
        ipv4:
          type: string
          description: The original ipv4 address from the browser. Required if ipv6 is blank
          example: 70.56.69.13
        ipv6:
          type: string
          description: The original ipv6 address from the browser. Required if ipv4 is blank
          example: 2001:0db8:85a3:0000:0000:8a2e:0370:7334
        location:
          $ref: '#/components/schemas/Location'
        merchant_device:
          type: string
          description: Id of the device, identified by the merchant in their internal systems
          example: 234c20c3-45de-41bf-b243-87ad5$RTbc3b
        session_id:
          type: string
          description: Value generated by the javascript/sdk snippet of our device fingerprint solution
          example: 5b8c20c3-45de-41bf-b243-87ad5d21bc3b
    Promissory:
      title: Promissory
      properties:
        installments:
          type: integer
          description: Number of installments
          format: int32
          example: 12
        provider:
          type: string
          description: Promissory provider name
          example: Prestamos SA.
        method:
          type: string
          description: Payment method used for the buyer
          enum:
          - Cash
          - CreditCard
          - DebitCard
          - Pix
          - Wallet
          - GiftCard
          - Points
          - Promissory
        payer:
          $ref: '#/components/schemas/Payer'
        amount:
          type: number
          description: Payment amount. Two decimal places
          format: bigdecimal
          example: 3370
      allOf:
      - $ref: '#/components/schemas/Payment'
    LicesingAmount:
      title: licesing_amount
      type: object
      allOf:
      - $ref: '#/components/schemas/Amount'
    Tour:
      title: Tour
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/Provider'
        modality:
          type: string
          description: Tour modality
        description:
          type: string
          description: Description of the product
        passengers_resume:
          $ref: '#/components/schemas/PassengersResume'
      allOf:
      - $ref: '#/components/schemas/DestinationService'
      - type: object
        properties:
          type:
            type: string
            enum:
            - Tour
    BaseCardPayment:
      title: BaseCard
      type: object
      required:
      - payer
      properties:
        details:
          $ref: '#/components/schemas/CardPaymentDetail'
        method:
          type: string
          description: Payment method used for the buyer
          enum:
          - Cash
          - CreditCard
          - DebitCard
          - PrePaidCard
          - Transfer
          - Pix
          - Wallet
          - GiftCard
          - Points
          - Promissory
        payer:
          $ref: '#/components/schemas/Payer'
        amount:
          $ref: '#/components/schemas/PaymentAmount'
          description: Payment amount
        subscription:
          type: boolean
          description: Indicates if it's a subscription or recurring payment
        concept:
          type: string
          description: 'A brief description what is being payed '
          example: Heladera con freezer
        secure_token:
          type: string
          description: The Token returned by the payment tokenization endpoint
          example: 286f701a5937a83c69bcfd58a9fdc87e30f20ee79101020f5ef824fa59d1e5dc5da2f0cc14fecbc7d27e8360c1a6309f5ccd99eaee14463d6dd59a46c0650c6f41ee2f0cf926a7a25388e5fcfab3fef4e1cd310bf543a1adcdb58d2207d8921608c0e2
      allOf:
      - $ref: '#/components/schemas/Payment'
    Lodging:
      title: Lodging
      type: object
      required:
      - checkin_date
      - checkout_date
      - nights
      - address
      properties:
        address:
          $ref: '#/components/schemas/Address'
        checkin_date:
          type: string
          description: 'Checkin date. Date format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: '2021-10-02T14:10:44'
        checkout_date:
          type: string
          description: 'Checkout date. Date format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: 2021-11-02T14:10
        guests:
          uniqueItems: true
          description: guests
          type: array
          items:
            $ref: '#/components/schemas/Person'
        lodger:
          description: lodger details
          $ref: '#/components/schemas/Lodger'
        nights:
          type: integer
          description: Number of nights
          example: 8
        refundable:
          type: boolean
          description: is refundable
          example: true
      allOf:
      - $ref: '#/components/schemas/Item'
      - type: object
        properties:
          type:
            type: string
            enum:
            - Lodging
    UnAuthorizedResponse:
      title: UnAuthorized Response
      type: object
      properties:
        code:
          type: integer
          description: Status code
          example: 401
        message:
          type: string
          description: Error message
          example: Validation errors
    Insurance:
      title: Insurance
      type: object
      properties:
        expiration_date:
          type: string
          format: 'date-time. Format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: '2021-02-23T14:10:44.307062Z'
        installment:
          type: number
          format: bigdecimal
        subscription_date:
          type: string
          format: 'date-time. Format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: '2021-02-23T14:10:44.307062Z'
        type:
          type: string
    Course:
      title: course
      type: object
      properties:
        category:
          type: string
        end_date:
          type: string
          description: 'Course end date. Format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: '2021-02-23T14:10:44.307062Z'
        link:
          type: string
          description: Course link
          example: https://link
        monthly_fee:
          type: number
          description: Course monthly fee
          example: '245.12'
        name:
          type: string
        presential:
          type: boolean
        scholarship_percentage:
          type: integer
          description: Course scholarship percentage
          example: 20
        start_date:
          type: string
          description: 'Course start date. Format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: 2021-012-23T14:10:44.307062Z
        subcategory:
          type: string
    DepartureAirport:
      title: departure
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseAirportData'
    Transfer:
      title: Transfer
      type: object
      required:
      - accountNumber
      - bankName
      properties:
        accountNumber:
          type: string
          description: Transfer account number
          example: '235687943672'
        bankName:
          type: string
          description: Transfer bank name
          example: ITAU
        payer:
          $ref: '#/components/schemas/Payer'
      allOf:
      - $ref: '#/components/schemas/Payment'
    GiftCard:
      title: GiftCard
      properties:
        id:
          type: string
          description: Payment unique identifier
          example: 02BF653185664752AA5F8B7415BD5043
        method:
          type: string
          description: Payment method used for the buyer
          enum:
          - Cash
          - CreditCard
          - DebitCard
          - Pix
          - Wallet
          - GiftCard
          - Points
          - Promissory
        amount:
          $ref: '#/components/schemas/PaymentAmount'
          description: Payment amount
      allOf:
      - $ref: '#/components/schemas/Payment'
    Store:
      title: store
      type: object
      properties:
        code:
          type: string
          description: Merchant code name
          example: Hellmans
        category:
          type: string
          description: Merchant category name. Four-digit code as described in the ISO 18245 international standard. See [MCC](https://classification.codes/classifications/industry/mcc/)
          example: '0763'
        latitude:
          type: number
          description: Store latitude coordinate
          format: double
          example: -34.56532789616039
        longitude:
          type: number
          description: Store longitude coordinate
          format: double
          example: -58.48945822129388
        merchant_type:
          type: string
          description: Type of merchant or store
          example: shopping
    CellphoneInsurance:
      type: object
      title: CellphoneInsurance
      properties:
        client:
          $ref: '#/components/schemas/Client'
        device:
          $ref: '#/components/schemas/Device'
        insurance:
          $ref: '#/components/schemas/Insurance'
      allOf:
      - $ref: '#/components/schemas/Item'
      - type: object
        properties:
          type:
            type: string
            enum:
            - CellphoneInsurance
    CarDelivery:
      title: CarDelivery
      type: object
      required:
      - date
      - address
      properties:
        address:
          description: Delivery address
          $ref: '#/components/schemas/Address'
        date:
          type: string
          description: 'Delivery date. Format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: '2021-02-23T14:10:44.307062Z'
    StrategyResponse:
      title: StrategyResponse
      type: object
      properties:
        type:
          type: string
          description: Strategy type, see [Strategies](https://api-koin.readme.io/reference/strategies)
          enum:
          - VerificationCode
          - DocumentScan
          - ManualVerification
          - CollectAuthRecovery
        link:
          type: string
          description: Url for access the strategy page
        channels:
          type: string
          description: Channels for the strategy
          enum:
          - Mail
          - Phone
        provider:
          type: string
          description: Provider for the strategy in case of CollectAuthRecovery strategy
          enum:
          - 3DS2
        mode:
          type: string
          description: Mode for the strategy in case of CollectAuthRecovery strategy
          enum:
          - FRICTIONLESS
          - CHALLENGE
        code:
          type: string
          description: Code in case of verification code strategy
    Profile:
      title: Profile
      type: object
      properties:
        category:
          type: string
          description: Customer level for example Free, Basic, Pro, Gold, etc
          example: Platinum
    Client:
      title: client
      type: object
      allOf:
      - $ref: '#/components/schemas/Person'
    Payment:
      title: Payment
      required:
      - method
      - amount
      type: object
      properties:
        id:
          type: string
          description: Payment unique identifier
          example: 02BF653185664752AA5F8B7415BD5043
        method:
          type: string
          description: Payment method used for the buyer
          enum:
          - Cash
          - CreditCard
          - DebitCard
          - Pix
          - Wallet
          - GiftCard
          - Points
          - Promissory
        amount:
          $ref: '#/components/schemas/PaymentAmount'
          description: Payment amount
    Points:
      title: Points
      required:
      - quantity
      - method
      - amount
      type: object
      properties:
        quantity:
          type: integer
          description: Points quantity spent
          format: int32
          example: 10
      allOf:
      - $ref: '#/components/schemas/Payment'
    PaymentAmount:
      title: amount
      type: object
      allOf:
      - $ref: '#/components/schemas/Amount'
    Education:
      title: Education
      type: object
      properties:
        course:
          description: Course details
          $ref: '#/components/schemas/Course'
        students:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Student'
      allOf:
      - $ref: '#/components/schemas/Item'
      - type: object
        properties:
          type:
            type: string
            enum:
            - Education
    DropOff:
      title: drop_off
      type: object
      allOf:
      - $ref: '#/components/schemas/CarDelivery'
    Segment:
      title: Segment
      type: object
      properties:
        airline_code:
          type: string
          description: Airline code
          example: AA
        departure:
          description: Departure airport data
          $ref: '#/components/schemas/DepartureAirport'
        arrival:
          description: Arrival airport data
          $ref: '#/components/schemas/ArrivalAirport'
        flight_class:
          description: Flight class
          type: string
        flight_number:
          description: Flight number
          type: integer
          example: 123
        position:
          description: Segment order
          type: integer
          example: 1
    StandardApiPreEvalResponse:
      title: StandardApiResponse
      type: object
      properties:
        analysis_type:
          type: string
          description: Resolution type
          enum:
          - AUTOMATIC
          - MANUAL
        evaluation_id:
          type: string
          description: antifraud provider identifier
        id:
          type: string
          description: Client transaction identifier
        score:
          type: integer
          description: Evaluation score
        status:
          type: string
          description: Transaction status
          enum:
          - approved
          - denied
    Shipping:
      title: shipping
      required:
      - price
      - address
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        delivery:
          $ref: '#/components/schemas/Delivery'
        price:
          $ref: '#/components/schemas/Price'
    Item:
      title: Item
      required:
      - category
      - id
      - name
      - price
      - type
      type: object
      properties:
        category:
          $ref: '#/components/schemas/Category'
        discount_amount:
          $ref: '#/components/schemas/DiscountAmount'
          description: Item price discount
        id:
          type: string
          description: Item id
          example: '13238487'
        name:
          type: string
          description: item name
          example: Some name
        price:
          $ref: '#/components/schemas/Price'
          description: Item price
        quantity:
          type: integer
          description: 'Item quantity. Not required: default value is 1'
          format: int32
          example: 5
        seller_id:
          type: string
          description: Item seller
          example: Some Seller
        service_date:
          type: string
          description: Date which the service will take place
          example: '2021-10-23T10:00:00.307062Z'
        type:
          type: string
          description: Item type
          example: Generic
    InsuranceAmount:
      title: insurance_amount
      type: object
      allOf:
      - $ref: '#/components/schemas/Amount'
    Category:
      title: category
      required:
      - name
      type: object
      properties:
        id:
          type: string
          description: Item category id
          example: '111'
        name:
          type: string
          description: Item category name
          example: Some category name
    Delivery:
      title: delivery
      type: object
      properties:
        by:
          type: string
          description: Shipping delivery company
          example: DHL
        date:
          type: string
          description: 'Shipping delivery date. Format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: '2021-02-23T14:10:44.307062Z'
        type:
          type: string
          description: Shipping delivery type
          example: EXPRESS
          enum:
          - EXPRESS
          - NORMAL
    DiscountAmount:
      title: discount_amount
      type: object
      allOf:
      - $ref: '#/components/schemas/Amount'
    CarOwningTaxAmount:
      title: car_owning_tax_amount
      type: object
      allOf:
      - $ref: '#/components/schemas/Amount'
    BaseAirportData:
      title: BaseAirportData
      type: object
      properties:
        airport_code:
          type: string
        date:
          type: string
          example: '2021-10-23T10:00:00.307062Z'
        timezone:
          type: number
          format: double
    Financing:
      title: Financing
      type: object
      properties:
        recipient:
          $ref: '#/components/schemas/Recipient'
      allOf:
      - $ref: '#/components/schemas/Item'
      - type: object
        properties:
          type:
            type: string
            enum:
            - Financing
    Device:
      title: Device
      type: object
      properties:
        brand:
          type: string
          description: Device brand
          example: Motorola
        imei:
          type: string
          description: International Mobile Station Equipment Identity
          example: '490154203237518'
        model:
          type: string
          description: Device model
          example: G9 plus
    TravelInsurance:
      title: TravelInsurance
      type: object
      required:
      - provider
      - region
      properties:
        provider:
          $ref: '#/components/schemas/Provider'
        modality:
          type: string
          description: Travel insurance modality
        region:
          type: string
          description: Travel insurance region
          example: NATIONAL
          enum:
          - NATIONAL
          - EUROPE
          - UNITED_STATES
          - LATIN_AMERICA
          - MULTI_DESTINATION
          - OTHER
      allOf:
      - $ref: '#/components/schemas/DestinationService'
      - type: object
        properties:
          type:
            type: string
            enum:
            - TravelInsurance
    StandardApiResponse:
      title: StandardApiResponse
      type: object
      properties:
        analysis_type:
          type: string
          description: Resolution type
          enum:
          - AUTOMATIC
          - MANUAL
        evaluation_id:
          type: string
          description: antifraud provider identifier
        id:
          type: string
          description: Client transaction identifier
        score:
          type: integer
          description: Evaluation score
        status:
          type: string
          description: Transaction status
          enum:
          - approved
          - denied
          - received
        strategies:
          type: array
          items:
            $ref: '#/components/schemas/StrategyResponse'
    TransactionData:
      title: transaction
      required:
      - reference_id
      - country_code
      - total_amount
      type: object
      properties:
        reference_id:
          type: string
          description: Client transaction identifier
          example: FGCCCEA53JYSHXX
        business_id:
          type: string
          description: Unique identifier for the store where the transaction takes place.
          example: 6LVHR8W0V7BYEQX
        sequence:
          type: string
          description: Sequence number to enumerate retries
          example: '1'
        country_code:
          type: string
          description: Use the country code of the store site's location where the transaction takes place. This ensures alignment with the store's geographical context. Two-letter code as described in the ISO 3166 international standard
          example: AR
        listener_mode:
          type: boolean
          description: Indicates if the transaction is in listener mode. When `true`, the transaction is processed for data collection and model training purposes only, and the evaluation result is always ACCEPT.
          example: true
        total_amount:
          $ref: '#/components/schemas/Amount'
          description: Represents transaction total amount on local currency
        redirected:
          type: boolean
          description: Represents if the payment had a redirection
        asynchronous:
          title: asynchronous
          type: boolean
          description: Indicates if corresponds to the second asynchronous evaluation
        channel:
          type: string
          description: Represents sales channel
        business_unit:
          type: string
          description: Represents business unit or business model
        agency_id:
          type: string
          description: Represents the identifier of the agency for sales of external sellers
        mode:
          type: string
          description: Represents the sale mode
          enum:
          - OFFLINE
          - ONLINE
    Document:
      title: document
      required:
      - number
      - type
      type: object
      properties:
        nationality:
          type: string
          description: Person nationality. Two-letter country code as described in the ISO 3166 international standard
          example: UY
        number:
          type: string
          description: Person document number
          example: '35645888'
        type:
          type: string
          description: Person document type
          example: DNI
    TicketDestinationService:
      title: TicketDestinationService
      type: object
      required:
      - service
      properties:
        service:
          $ref: '#/components/schemas/TicketService'
          description: Event or attraction definition related to the ticket
      allOf:
      - $ref: '#/components/schemas/BaseDestinationService'
    CarIdentifier:
      title: car_identifier
      type: object
      properties:
        key:
          type: string
          description: Car identifier key
          example: RENAVAM
        value:
          type: string
          description: Car identifier value
          example: AA2123
    DestinationService:
      title: DestinationService
      type: object
      required:
      - service
      properties:
        service:
          $ref: '#/components/schemas/Service'
      allOf:
      - $ref: '#/components/schemas/BaseDestinationService'
    Passenger:
      title: passenger
      required:
      - first_name
      - last_name
      type: object
      properties:
        id:
          type: string
          description: Person id
          example: c1245228
        first_name:
          type: string
          description: First name
          example: Alvaro
        last_name:
          type: string
          description: Last name
          example: Garrincha
        document:
          $ref: '#/components/schemas/Document'
        gender:
          type: string
          description: Gender
          enum:
          - FEMALE
          - MALE
          - OTHER
        address:
          $ref: '#/components/schemas/Address'
        birth_date:
          type: string
          description: Birthdate
          example: '1990-05-06'
        email:
          type: string
          description: Email contact
          example: email@domain.com
        phone:
          description: phone
          $ref: '#/components/schemas/Phone'
    CarRental:
      title: CarRental
      type: object
      properties:
        car_category:
          type: string
        car_description:
          type: string
        company_name:
          type: string
        drivers:
          type: array
          items:
            $ref: '#/components/schemas/Person'
        drop_off:
          $ref: '#/components/schemas/DropOff'
        pick_up:
          $ref: '#/components/schemas/PickUp'
      allOf:
      - $ref: '#/components/schemas/Item'
      - type: object
        properties:
          type:
            type: string
            enum:
            - CarRental
    BadResponse:
      title: Bad Response
      type: object
      properties:
        code:
          type: integer
          description: Status code
          example: 400
        message:
          type: string
          description: Error message
          example: Validation errors
        causes:
          type: array
          items:
            type: string
          example: '[device.ip must not be blank]'
    Student:
      title: student
      required:
      - birth_date
      - email
      - first_name
      - gender
      - last_name
      - relationship_with_payer
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        birth_date:
          type: string
          description: Person birthdate
          example: '1990-05-06'
        document:
          $ref: '#/components/schemas/Document'
        email:
          type: string
          description: Person email contact
          example: email@domain.com
        first_name:
          type: string
          description: Person first name
          example: Alvaro
        gender:
          type: string
          description: Person gender
          enum:
          - FEMALE
          - MALE
          - OTHER
        id:
          type: string
          description: Person id
          example: c1245228
        last_name:
          type: string
          description: Person last name
          example: Garrincha
        phone:
          description: phone
          $ref: '#/components/schemas/Phone'
        relationship_with_payer:
          type: string
          description: Student relationship with payer
          example: FATHER
    ArrivalAirport:
      title: arrival
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseAirportData'
    PickUp:
      title: pick_up
      type: object
      allOf:
      - $ref: '#/components/schemas/CarDelivery'
    Owner:
      title: owner
      type: object
      allOf:
      - $ref: '#/components/schemas/Person'
    CreditCard:
      title: CreditCard
      type: object
      properties:
        installments:
          type: integer
          description: Number of installments.
          format: int32
          example: 12
      allOf:
      - $ref: '#/components/schemas/BaseCardPayment'
    Location:
      title: location
      required:
      - latitude
      - longitude
      type: object
      properties:
        latitude:
          type: number
          description: Device latitude
          format: double
          example: -34.56532789616039
        longitude:
          type: number
          description: Device longitude
          format: double
          example: -58.48945822129388
    ClientInfo:
      title: Client Information
      type: object
      properties:
        creation_date:
          type: string
          format: date-time
          description: Client creation date
          example: '1978-04-29T17:10:35.387Z'
        classification:
          type: string
          description: Client classification level
          example: GOLD
        customer_order:
          $ref: '#/components/schemas/Amount'
          description: Customer order amount
        days_since_first_order:
          type: integer
          description: Days since first order
          example: 45
        days_since_last_order:
          type: integer
          description: Days since last order
          example: 10
        cancelled_orders:
          type: integer
          description: Number of cancelled orders
          example: 3
        average_order:
          $ref: '#/components/schemas/Amount'
          description: Average order value in six months
        cash_orders:
          type: integer
          description: Number of cash paid orders
          example: 3
        card_orders:
          type: integer
          description: Number of card paid orders
          example: 6
        bank_orders:
          type: integer
          description: Number of bank check paid orders
          example: 4
        debit_orders:
          type: integer
          description: Number of debit paid orders
          example: 2
        super_segmentation:
          type: string
          description: Super segmentation category
          example: potential
        purchase_power:
          type: string
          description: Purchase power classification
          example: pph
        year_first_purchase:
          type: integer
          description: Year of first purchase
          example: 2024
        purchases_30_days:
          type: integer
          description: Number of purchases in last 30 days
          example: 12
        purchases_60_days:
          type: integer
          description: Number of purchases in last 60 days
          example: 22
        purchases_lifetime:
          type: integer
          description: Total lifetime purchases
          example: 32
    Provider:
      title: provider
      type: object
      required:
      - code
      - name
      properties:
        code:
          type: string
          description: Provider code
        name:
          type: string
          description: Provider name
    Cash:
      title: Cash
      properties:
        details:
          type: array
          description: Cash networks
          items:
            type: string
        method:
          type: string
          description: Payment method used for the buyer
          enum:
          - Cash
          - CreditCard
          - DebitCard
          - Pix
          - Wallet
          - GiftCard
          - Points
          - Promissory
        payer:
          $ref: '#/components/schemas/Payer'
        amount:
          $ref: '#/components/schemas/PaymentAmount'
          description: Payment amount
      allOf:
      - $ref: '#/components/schemas/Payment'
    BaseDestinationService:
      title: BaseDestinationService
      type: object
      required:
      - passengers
      properties:
        passengers:
          uniqueItems: true
          type: array
          description: List of passengers
          items:
            $ref: '#/components/schemas/Person'
      allOf:
      - $ref: '#/components/schemas/Item'
    TicketService:
      title: TicketService
      type: object
      required:
      - address
      - name
      - sub_type
      properties:
        venue:
          type: string
          description: Venue or place where the event takes place
          example: Madison Square Garden
        address:
          $ref: '#/components/schemas/Address'
        cluster:
          type: string
          description: Cluster of the event
          example: Concert
        segment:
          type: string
          description: Segment of the event
          example: Festival
        topic:
          type: string
          description: Topic of the event
          example: Music
        sub_topic:
          type: string
          description: Sub topic of the event
          example: Rock
        format:
          type: string
          description: Format of the event
          example: Live
        public_type:
          type: string
          description: Public type of the event
          example: Public
        season:
          type: string
          description: Season of the event
          example: Summer
        split:
          type: boolean
          description: Split of the event
          example: true
        visibility:
          type: string
          description: Visibility of the event
          example: Public
        quantity_ticket_sale:
          type: integer
          description: Quantity of ticket sale
          example: 10
        quantity_event_house:
          type: integer
          description: Quantity of event house
          example: 100
      allOf:
      - $ref: '#/components/schemas/Service'
    Lodger:
      title: lodger
      type: object
      allOf:
      - $ref: '#/components/schemas/Person'
    Generic:
      title: Generic
      type: object
      allOf:
      - $ref: '#/components/schemas/Item'
      - type: object
        properties:
          type:
            type: string
            enum:
            - Generic
    Phone:
      title: phone
      required:
      - number
      type: object
      properties:
        area_code:
          type: string
          description: Phone area code. If the country code is also available, include the full combination (country code + area code) for better context, though the country code is optional.
          example: '11'
        number:
          type: string
          description: Phone number
          example: '45669874'
        type:
          type: string
          description: Phone type
          example: Mobile
    Address:
      title: address
      required:
      - city
      - country_code
      - state
      type: object
      properties:
        city:
          type: string
          description: Address city. It must be either three-letters city code or city name
          example: Buenos Aires
        complement:
          type: string
          description: Address complement
          example: Complemento
        country_code:
          type: string
          description: Address country. Two-letter code as described in the ISO 3166 international standard
          example: AR
        neighborhood:
          type: string
          description: Address neighborhood
          example: Chacarita
        number:
          type: string
          description: Address number
          example: '2459'
        state:
          type: string
          description: Address state. It must be either state code or state name
          example: Buenos Aires
        street:
          type: string
          description: Address street
          example: Corrientes
        zip_code:
          type: string
          description: Address zip code
          example: '1425'
        full_address:
          type: string
          description: Full address
          example: Corrientes 747, San Nicolas
    Wallet:
      title: Wallet
      required:
      - method
      - amount
      - provider
      type: object
      properties:
        method:
          type: string
          description: Payment method used for the buyer
          enum:
          - Wallet
        payer:
          $ref: '#/components/schemas/Payer'
        amount:
          $ref: '#/components/schemas/PaymentAmount'
          description: Payment amount
        provider:
          type: string
          description: Wallet provider
          enum:
          - APPLE_PAY
          - GOOGLE_PAY
          - NUPAY
          - IFOOD_PAY
          example: APPLE_PAY
    Payer:
      title: payer
      type: object
      allOf:
      - $ref: '#/components/schemas/Person'
    Fine:
      title: fine
      type: object
      properties:
        car_owning_tax_type:
          type: string
          enum:
          - IPVA
          - SUCIVE
        car_owning_tax_amount:
          $ref: '#/components/schemas/CarOwningTaxAmount'
          description: Carowning Tax amount
        fine_issued_year:
          type: integer
          description: Fine issued year
          example: 2020
        insurance_amount:
          $ref: '#/components/schemas/InsuranceAmount'
          description: Insurance amount
        licesing_amount:
          $ref: '#/components/schemas/LicesingAmount'
          description: Licesing amount
        penalty_amount:
          $ref: '#/components/schemas/PenaltyAmount'
          description: Penalty amount
    Service:
      title: Service
      type: object
      required:
      - start_date
      - end_date
      - number_of_passengers
      properties:
        destination:
          type: string
          description: Service destination
          example: Villa Serrana
        end_date:
          type: string
          description: 'Service end date. Format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: '2021-02-23T14:10:44.307062Z'
        id:
          type: string
          description: Service id
          example: idddd-eeee
        name:
          type: string
          description: Service name
          example: Cabalgata Villa Serrana
        number_of_passengers:
          type: integer
          example: 10
          description: Number of passengers
        origin:
          type: string
          description: Service origin
          example: Villa Serrana
        start_date:
          type: string
          description: 'Service start date. Format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: '2021-02-23T14:10:44.307062Z'
        sub_type:
          type: string
          description: Service subType
          example: Activity
    Asynchronous:
      title: Asynchronous
      type: object
      properties:
        payment_data:
          $ref: '#/components/schemas/AsyncPaymentDetail'
        amount:
          $ref: '#/components/schemas/PaymentAmount'
          description: Payment amount. Do not include when payment_data method is CreditCard or DebitCard.
      allOf:
      - $ref: '#/components/schemas/Payment'
    Price:
      title: price
      type: object
      allOf:
      - $ref: '#/components/schemas/Amount'
    FinanceAccount:
      type: object
      title: Account
      properties:
        ispb:
          type: string
          description: Brazilian Payment System Identifier (eight-number length).
          example: '12345678'
        agency:
          type: string
          description: Agency of the account.
          example: '1500'
        code:
          type: string
          description: Payer account number.
          example: '123456789'
        type:
          type: string
          description: Payer account type.
          example: CC
    PassengersResume:
      title: PassengersResume
      type: object
      required:
      - adults
      - children
      - infants
      properties:
        adults:
          type: integer
          description: Adults count
          format: int32
          example: 2
        children:
          type: integer
          description: Children count
          format: int32
          example: 2
        infants:
          type: integer
          description: Infants count
          format: int32
          example: 2
    EcommerceAntiFraud:
      title: Ecommerce AntiFraud Data
      required:
      - buyer
      - items
      - payments
      - transaction
      - type
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          enum:
          - Ecommerce
          description: Antifraud type
          default: Ecommerce
        buyer:
          $ref: '#/components/schemas/Buyer'
        device:
          $ref: '#/components/schemas/DeviceData'
        store:
          $ref: '#/components/schemas/Store'
        items:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Generic'
            - $ref: '#/components/schemas/CarRental'
            - $ref: '#/components/schemas/Lodging'
            - $ref: '#/components/schemas/Flight'
            - $ref: '#/components/schemas/Education'
            - $ref: '#/components/schemas/CellphoneInsurance'
            - $ref: '#/components/schemas/CarPenaltyFee'
            - $ref: '#/components/schemas/TravelInsurance'
            - $ref: '#/components/schemas/Tour'
            - $ref: '#/components/schemas/Ticket'
            - $ref: '#/components/schemas/TransferDS'
            - $ref: '#/components/schemas/Financing'
            discriminator:
              propertyName: type
              mapping:
                Generic: '#/components/schemas/Generic'
                CarRental: '#/components/schemas/CarRental'
                Lodging: '#/components/schemas/Lodging'
                Flight: '#/components/schemas/Flight'
                Education: '#/components/schemas/Education'
                CellphoneInsurance: '#/components/schemas/CellphoneInsurance'
                CarPenaltyFee: '#/components/schemas/CarPenaltyFee'
                TravelInsurance: '#/components/schemas/TravelInsurance'
                Tour: '#/components/schemas/Tour'
                Ticket: '#/components/schemas/Ticket'
                Transfer: '#/components/schemas/TransferDS'
                Financing: '#/components/schemas/Financing'
        payments:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Cash'
            - $ref: '#/components/schemas/CreditCard'
            - $ref: '#/components/schemas/GiftCard'
            - $ref: '#/components/schemas/DebitCard'
            - $ref: '#/components/schemas/PrePaidCard'
            - $ref: '#/components/schemas/PIX'
            - $ref: '#/components/schemas/Wallet'
            - $ref: '#/components/schemas/Points'
            - $ref: '#/components/schemas/Promissory'
            - $ref: '#/components/schemas/Transfer'
            - $ref: '#/components/schemas/Asynchronous'
            discriminator:
              propertyName: method
        shipping:
          $ref: '#/components/schemas/Shipping'
        transaction:
          $ref: '#/components/schemas/TransactionData'
        service_date:
          type: string
          description: Date which the service will take place
          example: '2021-10-23T10:00:00.307062Z'
        sla_date:
          type: string
          description: The date that the evaluation is expected to be resolved
          example: '2021-07-23T16:00:00.307062Z'
        callback_url:
          type: string
          description: A publicly accessible HTTPS endpoint where your application will receive asynchronous notifications about the status of the evaluation.
          example: http://domain/service
        client_info:
          $ref: '#/components/schemas/ClientInfo'
          description: Client information and historical data
        strategies_data:
          $ref: '#/components/schemas/StrategiesData'
          description: Optional data for fraud prevention strategies
    CardPaymentDetail:
      title: details
      required:
      - last_digits
      type: object
      properties:
        bin:
          type: string
          description: Abbreviation for 'Bank Indetification Number'. It's a code that identifies the institution responsable for issuing the credit card. Required for Payment and Wire Transfer
          example: '424242'
        brand_name:
          type: string
          description: Brand card
          example: Visa
        expiration_month:
          type: string
          description: Card expiration month
          example: '11'
        expiration_year:
          type: string
          description: Card expiration year
          example: '2022'
        last_digits:
          type: string
          description: Credit card identifier number last digits
          example: '7198'
        eci:
          type: string
          description: Electronic Commerce Indicator. It's the code to notify about the authentication of the cardholder
          example: '478'
        pos_entry_mode:
          type: string
          description: POS (point of sale) system method used to enter the card data
          example: MANUAL
          enum:
          - MANUAL
          - MAGNETIC_STRIPE
          - BARCODE
          - CHIP
    Amount:
      title: total_amount
      type: object
      required:
      - currency_code
      - value
      properties:
        currency_code:
          type: string
          description: Three-letter currency code as described in the ISO 4217 international standard
          example: USD
        value:
          type: number
          description: Amount value
          format: bigdecimal
          example: 8008.99
    DebitCard:
      title: DebitCard
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseCardPayment'
    Recipient:
      title: Recipient
      type: object
      properties:
        bankName:
          type: string
          description: Bank name
        emv:
          type: string
          description: EMV
        account:
          $ref: '#/components/schemas/FinanceAccount'
      allOf:
      - $ref: '#/components/schemas/Person'
    Buyer:
      title: buyer
      type: object
      allOf:
      - $ref: '#/components/schemas/PersonBuyer'
    AsyncPaymentDetail:
      title: Asynchronous payment
      type: object
      description: Specific information for an asynchronous payment
      discriminator:
        propertyName: method
        mapping:
          Cash: '#/components/schemas/Cash'
          Transfer: '#/components/schemas/Transfer'
          Promissory: '#/components/schemas/Promissory'
          GiftCard: '#/components/schemas/GiftCard'
          Points: '#/components/schemas/Points'
      oneOf:
      - $ref: '#/components/schemas/Cash'
      - $ref: '#/components/schemas/Transfer'
      - $ref: '#/components/schemas/Promissory'
      - title: CreditCard
        type: object
        required:
        - payer
        - details
        - method
        properties:
          details:
            $ref: '#/components/schemas/CardPaymentDetail'
          method:
            type: string
            description: Payment method used for the buyer
            enum:
            - CreditCard
          payer:
            $ref: '#/components/schemas/Payer'
          subscription:
            type: boolean
            description: Indicates if it's a subscription or recurring payment
          concept:
            type: string
            description: 'A brief description what is being payed '
            example: Heladera con freezer
          secure_token:
            type: string
            description: The Token returned by the payment tokenization endpoint
            example: 286f701a5937a83c69bcfd58a9fdc87e30f20ee79101020f5ef824fa59d1e5dc5da2f0cc14fecbc7d27e8360c1a6309f5ccd99eaee14463d6dd59a46c0650c6f41ee2f0cf926a7a25388e5fcfab3fef4e1cd310bf543a1adcdb58d2207d8921608c0e2
          installments:
            type: integer
            description: Number of installments.
            format: int32
            example: 12
      - title: DebitCard
        type: object
        required:
        - payer
        - details
        - method
        properties:
          details:
            $ref: '#/components/schemas/CardPaymentDetail'
          method:
            type: string
            description: Payment method used for the buyer
            enum:
            - DebitCard
          payer:
            $ref: '#/components/schemas/Payer'
          subscription:
            type: boolean
            description: Indicates if it's a subscription or recurring payment
          concept:
            type: string
            description: 'A brief description what is being payed '
            example: Heladera con freezer
          secure_token:
            type: string
            description: The Token returned by the payment tokenization endpoint
            example: 286f701a5937a83c69bcfd58a9fdc87e30f20ee79101020f5ef824fa59d1e5dc5da2f0cc14fecbc7d27e8360c1a6309f5ccd99eaee14463d6dd59a46c0650c6f41ee2f0cf926a7a25388e5fcfab3fef4e1cd310bf543a1adcdb58d2207d8921608c0e2
      - $ref: '#/components/schemas/GiftCard'
      - $ref: '#/components/schemas/Points'
    Flight:
      title: Flight
      type: object
      required:
      - id
      - price
      - quantity
      - itinerary_type
      - routes
      - passengers
      properties:
        discount_amount:
          $ref: '#/components/schemas/DiscountAmount'
          description: Item price discount
        id:
          type: string
          description: Item id
          example: '13238487'
        itinerary_type:
          type: string
          description: Itinerary type
          enum:
          - MULTIDESTINATION
          - ONEWAY
          - ROUND_TRIP
        passengers:
          uniqueItems: true
          description: Passengers list
          type: array
          items:
            $ref: '#/components/schemas/Passenger'
        price:
          $ref: '#/components/schemas/Price'
          description: Item price
        quantity:
          type: integer
          description: Item quantity
          format: int32
          example: 5
        route_type:
          type: string
          description: Route type
          enum:
          - DOMESTIC
          - INTERNATIONAL
        routes:
          type: array
          items:
            $ref: '#/components/schemas/Route'
        seller_id:
          type: string
          description: Item seller
          example: Some Seller
    CarPenaltyFee:
      title: CarPenaltyFee
      properties:
        car:
          $ref: '#/components/schemas/Car'
        fines:
          type: array
          items:
            $ref: '#/components/schemas/Fine'
      allOf:
      - $ref: '#/components/schemas/Item'
      - type: object
        properties:
          type:
            type: string
            enum:
            - CarPenaltyFee
    StrategiesData:
      title: Strategies Data
      type: object
      description: Optional data for fraud prevention strategies
      properties:
        collect_auth_supported:
          type: boolean
          description: Indicates if collect authentication is supported
          example: true
        acquirer_bin:
          type: string
          description: Acquirer Bank Identification Number
          example: '408956'
        acquirer:
          type: string
          description: Acquirer identifier
          example: WDP
        merchant_id:
          type: string
          description: Merchant identifier
          example: BRLIARLEGAPR
        mcc:
          type: string
          description: Merchant Category Code
          example: '1234'
        merchant_descriptor:
          type: string
          description: Merchant descriptor
          example: DAGS_TEST_3DS
    DeviceData:
      title: device
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseDeviceData'
    TransferDS:
      title: Transfer
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/Provider'
        modality:
          type: string
          description: Transfer modality
        description:
          type: string
          description: Description of the product
        passengers_resume:
          $ref: '#/components/schemas/PassengersResume'
      allOf:
      - $ref: '#/components/schemas/DestinationService'
      - type: object
        properties:
          type:
            type: string
            enum:
            - Transfer
    PersonBuyer:
      title: Person
      type: object
      required:
      - email
      properties:
        id:
          type: string
          description: The unique identifier of the customer in the merchant system
          example: c1245228
        first_name:
          type: string
          description: First name. Required if full_name is blank.
          example: Alvaro
        last_name:
          type: string
          description: Last name. Required if full_name is blank.
          example: Garrincha
        full_name:
          type: string
          description: Full name. Is required if first_name and last_name are blank
          example: Alvaro Garrincha
        document:
          $ref: '#/components/schemas/Document'
        gender:
          type: string
          description: Gender
          enum:
          - FEMALE
          - MALE
          - OTHER
        address:
          $ref: '#/components/schemas/Address'
        birth_date:
          type: string
          description: Birthdate
          example: '1990-05-06'
        email:
          type: string
          description: Email contact
          example: email@domain.com
        phone:
          description: phone
          $ref: '#/components/schemas/Phone'
        profile:
          description: profile
          $ref: '#/components/schemas/Profile'
    Ticket:
      title: Ticket
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/Provider'
        modality:
          type: string
          description: Ticket modality
        delivery_method:
          type: string
          description: How the ticket is delivered to the attendee. For example online, physical or box_office pickup.
          example: online
        passengers:
          type: array
          description: Detailed passengers attending the event
          items:
            $ref: '#/components/schemas/Passenger'
        additional_information:
          type: object
          description: Additional free-form information for the ticket. Can contain any key-value pairs.
          additionalProperties: true
          example:
            ticket_location: FIELD
            gate: South_A
            accessibility: false
            accessibility_type: 2
            seat_preference: aisle
            special_requirements: wheelchair_access
      allOf:
      - $ref: '#/components/schemas/TicketDestinationService'
      - type: object
        properties:
          type:
            type: string
            enum:
            - Ticket
    Car:
      title: car
      type: object
      properties:
        brand:
          type: string
          description: Car brand
          example: Tesla
        identifier:
          $ref: '#/components/schemas/CarIdentifier'
        license_plate:
          type: string
          description: license plate
          example: AAM 2312
        model:
          type: string
          description: Car model
          example: '3'
        owner:
          $ref: '#/components/schemas/Owner'
        year:
          type: string
          description: Car year
          example: '2018'
    PenaltyAmount:
      title: penalty_amount
      type: object
      allOf:
      - $ref: '#/components/schemas/Amount'
    Route:
      title: route
      type: object
      required:
      - segments
      properties:
        position:
          type: integer
        provider:
          type: string
          description: Route provider
        segments:
          uniqueItems: true
          type: array
          description: Route segments list
          items:
            $ref: '#/components/schemas/Segment'
    PIX:
      title: Pix
      required:
      - method
      - amount
      - expiration_date
      type: object
      properties:
        method:
          type: string
          description: Payment method used for the buyer
          enum:
          - Pix
        payer:
          $ref: '#/components/schemas/Payer'
        amount:
          $ref: '#/components/schemas/PaymentAmount'
          description: Payment amount
        expiration_date:
          type: string
          format: date-time
          description: Pix payment expiration date
          example: '2023-02-10T13:50:31.000Z'
        payment_key:
          type: string
          description: Pix payment key
          example: sbx@paymentKey
