openapi: 3.0.3
info:
  title: Antifraud Access Payment Services API
  description: Antifraud services
  license:
    name: Apache License Version 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '2.0'
servers:
- url: https://api-sandbox.koin.com.br
  description: Sandbox domain url
tags:
- name: Payment Services
paths:
  /v1/payment/orders:
    post:
      tags:
      - Payment Services
      summary: Create Payment
      description: Create payment service. Before required fields will validated and after will validated business rules. Below is a table with the information regarding said api.
      operationId: createPayment
      parameters:
      - name: Content-Type
        in: header
        example: application/json
        description: The Media type of the body of the request. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      - name: Accept
        in: header
        example: application/json
        description: Media type(s) that is/are acceptable for the response. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/PaymentPixFull'
              - $ref: '#/components/schemas/PaymentBNPL'
              - $ref: '#/components/schemas/PaymentCardSchemas'
      responses:
        '200':
          description: Create payment response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PixPaymentResponse'
                - $ref: '#/components/schemas/BNPLPaymentResponse'
                - $ref: '#/components/schemas/CardPaymentResponse'
              examples:
                Successful Pix:
                  $ref: '#/components/examples/PixCreatePaymentResponse'
                Successful Pix checkout own:
                  $ref: '#/components/examples/PixOwnCreatePaymentResponse'
                Successful BNPL:
                  $ref: '#/components/examples/BNPLCreatePaymentResponse'
                Successful BNPL transparent checkout:
                  $ref: '#/components/examples/BNPLCreatePaymentFullApiResponse'
                Successful Card:
                  $ref: '#/components/examples/CardCreatePaymentResponse'
                Successful Card with Antifraud:
                  $ref: '#/components/examples/CardCreatePaymentWithAntiFraudResponse'
                Successful Card with Antifraud strategy:
                  $ref: '#/components/examples/CardCreatePaymentWithAntiFraudStrategyResponse'
                Successful Card with Checkout:
                  $ref: '#/components/examples/CardCreatePaymentWithCheckout'
                Error:
                  $ref: '#/components/examples/UnknownError'
                G01 Error:
                  $ref: '#/components/examples/G01Error'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Validation Failed:
                  value:
                    code: 400
                    message: Validation failed
                    causes:
                    - transaction.amount.currency_code must not be null
                    - transaction.amount.value must not be null
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Internal Server Error
    get:
      tags:
      - Payment Services
      summary: Get Payment by Reference ID
      description: Payment details service.
      operationId: paymentByReferenceIdGET
      parameters:
      - in: query
        name: reference_id
        description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
        example: REF0000001
        schema:
          type: string
        required: true
      - name: Content-Type
        in: header
        example: application/json
        description: The Media type of the body of the request. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      - name: Accept
        in: header
        example: application/json
        description: Media type(s) that is/are acceptable for the response. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Payment details response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PixPaymentDetailResponse'
                - $ref: '#/components/schemas/BNPLPaymentDetailResponse'
                - $ref: '#/components/schemas/CardPaymentDetailResponse'
              examples:
                Pix payment:
                  $ref: '#/components/examples/PixGetPaymentResponse'
                BNPL payment:
                  $ref: '#/components/examples/BNPLGetPaymentResponse'
                Card payment:
                  $ref: '#/components/examples/CardGetPaymentDetailResponse'
                Card payment with Antifraud:
                  $ref: '#/components/examples/CardWithAntifraudGetPaymentDetailResponse'
                Error:
                  $ref: '#/components/examples/UnknownError'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Bad Request:
                  value:
                    code: 400
                    message: Required String parameter 'reference_id' is not present
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    code: 404
                    message: Payment not found by reference_id {reference_id}
        '500':
          description: Internal Server Error
  /v1/payment/orders/lookup:
    get:
      tags:
      - Payment Services
      summary: Get Payments by Transaction ID
      description: Payment orders.
      operationId: paymentByTransactionIdGET
      parameters:
      - in: query
        name: transaction_id
        description: Payment identifier, Multiple orders associated with a payment.
        example: TRX0000001
        schema:
          type: string
        required: true
      - name: Content-Type
        in: header
        example: application/json
        description: The Media type of the body of the request. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      - name: Accept
        in: header
        example: application/json
        description: Media type(s) that is/are acceptable for the response. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Payment order response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/CardPaymentTransactionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Bad Request:
                  value:
                    code: 400
                    message: Required String parameter 'transaction_id' is not present
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    code: 404
                    message: Payment not found by transaction_id {transaction_id}
        '500':
          description: Internal Server Error
  /v1/payment/orders/{order_id}/capture:
    post:
      tags:
      - Payment Services
      summary: Capture Payment
      description: Service responsible for capturing a card payment
      operationId: capturePayment
      parameters:
      - in: path
        name: order_id
        description: Order ID returned by create payment service
        schema:
          type: string
        example: 9dd3f765-a51a-49d8-b6af-a51d5a0b3f7f
        required: true
      - name: Content-Type
        in: header
        example: application/json
        description: The Media type of the body of the request. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      - name: Accept
        in: header
        example: application/json
        description: Media type(s) that is/are acceptable for the response. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Capture response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureResponse'
              examples:
                Successful Capture:
                  $ref: '#/components/examples/CardCapturePaymentResponse'
                Error:
                  $ref: '#/components/examples/UnknownError'
                G02 Error:
                  value:
                    code: G02
                    message: Error order_id not found
                G05 Error:
                  value:
                    code: G05
                    message: Only orders Authorized can be Captured
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
  /v1/payment/orders/{order_id}:
    get:
      tags:
      - Payment Services
      summary: Get Payment
      description: Payment details service.
      operationId: paymentByOrderIdGET
      parameters:
      - name: order_id
        in: path
        description: Order ID returned by create payment service
        example: 9dd3f765-a51a-49d8-b6af-a51d5a0b3f7f
        schema:
          type: string
        required: true
      - name: Content-Type
        in: header
        example: application/json
        description: The Media type of the body of the request. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      - name: Accept
        in: header
        example: application/json
        description: Media type(s) that is/are acceptable for the response. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Payment details response
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/PixPaymentDetailResponse'
                - $ref: '#/components/schemas/BNPLPaymentDetailResponse'
                - $ref: '#/components/schemas/CardPaymentDetailResponse'
              examples:
                Pix payment:
                  $ref: '#/components/examples/PixGetPaymentResponse'
                BNPL payment:
                  $ref: '#/components/examples/BNPLGetPaymentResponse'
                Card payment:
                  $ref: '#/components/examples/CardGetPaymentDetailResponse'
                Card payment with Antifraud:
                  $ref: '#/components/examples/CardWithAntifraudGetPaymentDetailResponse'
                Error:
                  $ref: '#/components/examples/UnknownError'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Bad Request:
                  value:
                    code: 400
                    message: Required String parameter 'reference_id' is not present
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Not Found:
                  value:
                    code: 404
                    message: Payment not found by order_id {order_id}
        '500':
          description: Internal Server Error
  /v1/payment/orders/{order_id}/cancel:
    put:
      tags:
      - Payment Services
      summary: Cancel Payment
      description: Cancellation payment. Card, Pix and BNPL payment method can be cancelled, for Pix payment method, you can only cancel dynamic QR payments; for the card payment method, you can cancel **Opened** or **Authorized** payments, which will remain with the status **Canceled** or **Voided** respectively.
      operationId: cancelPaymentPUT
      parameters:
      - name: order_id
        in: path
        description: Order ID returned by create payment service
        example: 9dd3f765-a51a-49d8-b6af-a51d5a0b3f7f
        schema:
          type: string
        required: true
      - name: Content-Type
        in: header
        example: application/json
        description: The Media type of the body of the request. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      - name: Accept
        in: header
        example: application/json
        description: Media type(s) that is/are acceptable for the response. Default value for payment provider protocol is application/json
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Cancel payment response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPaymentResponse'
              examples:
                Successful cancellation:
                  value:
                    status:
                      type: Cancelled
                      date: '2022-02-08T21:25:04.000Z'
                    transaction:
                      reference_id: REF0000001
                      account: SBX000
                      provider_reference:
                        tx_id: '20000000000000026628140042292'
                    order_id: 9dd3f765-a51a-49d8-b6af-a51d5a0b3f7f
                Error:
                  $ref: '#/components/examples/UnknownError'
                G02 Error:
                  value:
                    code: G02
                    message: Error order_id not found
                G04 Error:
                  value:
                    code: G04
                    message: Only orders not Closed can be Cancelled
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
components:
  schemas:
    PaymentBNPL:
      title: BNPL
      required:
      - transaction
      - country_code
      - payment_method
      - payer
      - device_fingerprint
      - notification_url
      - shipping
      - items
      - ip_address
      - verified_id
      type: object
      properties:
        store:
          type: object
          properties:
            code:
              type: string
              description: Store identifier
              example: SBXSTORE
            category:
              type: string
              description: Four-digit ISO 18245 merchant category code
              example: 4816
        transaction:
          required:
          - reference_id
          - amount
          - account
          type: object
          properties:
            reference_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
              example: REF0000001
            business_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Business ID. The ID of the transaction related with this payment
              example: BIZ0000001
            account:
              type: string
              description: Client account number provided by Koin
              example: SBX000
            amount:
              required:
              - currency_code
              - value
              - breakdown
              type: object
              properties:
                currency_code:
                  type: string
                  pattern: '[A-Z]{3}'
                  description: Currency code (ISO 4217)
                  example: BRL
                value:
                  type: number
                  pattern: d{1,10}.d{2}
                  description: Payment total amount
                  example: 1500.56
                breakdown:
                  required:
                  - items
                  - shipping
                  - taxes
                  type: object
                  properties:
                    items:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Items total amount
                          example: 1500
                    shipping:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Shipping total amount
                          example: 500.56
                    taxes:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Taxes total amount
                          example: 0
        country_code:
          type: string
          description: Transaction country code (two-letter ISO 3166 country code)
          example: BR
        payment_method:
          required:
          - code
          - expiration_date
          type: object
          properties:
            code:
              type: string
              enum:
              - PIX
              - CARD
              - BNPL
              description: Payment method code
            expiration_date:
              type: string
              format: date-time
              description: Payment expiration date (In ISO 8601 format with UTC in GMT 0)
              example: '2021-01-01T00:00:00.000Z'
            option_id:
              type: string
              description: Availability installment option identifier (required for transparent checkout).
              example: e9652f2e-6aa1-4580-b6e3-45e9c5de66a6
        payer:
          required:
          - document
          - email
          - phone
          - address
          properties:
            document:
              description: Payer ID
              required:
              - type
              - number
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - cpf
                  description: Payer document type
                number:
                  type: string
                  pattern: (^[0-9]{11}$)
                  description: Payer document number
                  example: '54672396002'
                nationality:
                  type: string
                  description: Payer nationality (two-letter ISO 3166 country code)
                  example: BR
            first_name:
              type: string
              maxLength: 100
              description: Payer first name. If the length of the field exceeds 100 characters it will be truncated
              example: Jhon
            last_name:
              type: string
              maxLength: 100
              description: Payer last name. If the length of the field exceeds 100 characters it will be truncated
              example: Doe
            name_father:
              type: string
              maxLength: 100
              description: Payer's father last name. If the length of the field exceeds 100 characters it will be truncated (Only for BNPL payment method)
              example: Doe
            name_mother:
              type: string
              maxLength: 100
              description: Payer's mother last name. If the length of the field exceeds 100 characters it will be truncated (Only for BNPL payment method)
              example: Jones
            full_name:
              type: string
              maxLength: 100
              description: Payer full name. If the length of the field exceeds 100 characters it will be truncated
              example: Jhon Doe Jones
            gender:
              type: string
              description: Payer gender
              enum:
              - FEMALE
              - MALE
              - OTHER
            email:
              type: string
              description: Payer email
              example: jhon_doe@domain.com
            phone:
              required:
              - area
              - number
              type: object
              properties:
                country_code:
                  type: string
                  description: Country code
                  example: '+55'
                area:
                  type: string
                  description: Area code
                  example: '11'
                number:
                  type: string
                  description: Phone number
                  example: '984565666'
                type:
                  type: string
                  description: Phone type.
                  example: Mobile
            birthdate:
              type: string
              pattern: ^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$
              description: Payer birthdate
              example: '1980-10-20'
            address:
              type: object
              required:
              - country_code
              - street
              - number
              - city_name
              - zip_code
              - state
              properties:
                country_code:
                  type: string
                  description: Country code (two-letter ISO 3166 country code)
                  example: BR
                state:
                  type: string
                  description: State code
                  example: SP
                city_name:
                  type: string
                  description: City name
                  example: SAO PAULO
                street:
                  type: string
                  description: Street name
                  example: RUA ABRAO WAITMAN
                number:
                  type: string
                  description: Building number
                  example: '500'
                zip_code:
                  type: string
                  description: ZIP code
                  example: 04788240
                district:
                  type: string
                  description: District
                  example: INTERLAGOS
                complement:
                  type: string
                  description: Additional address information
        shipping:
          required:
          - delivery_date
          - address
          type: object
          properties:
            delivery_date:
              type: string
              description: Shipping delivery date
              example: '2021-11-01'
            address:
              required:
              - country_code
              - street
              - number
              - city_name
              - zip_code
              - state
              type: object
              properties:
                country_code:
                  type: string
                  description: Country code (two-letter ISO 3166 country code)
                  example: BR
                state:
                  type: string
                  description: State code
                  example: SP
                city_name:
                  type: string
                  description: City name
                  example: SAO PAULO
                street:
                  type: string
                  description: Street name
                  example: RUA ABRAO WAITMAN
                number:
                  type: string
                  description: Building number
                  example: '500'
                zip_code:
                  type: string
                  description: ZIP code
                  example: 04788240
                district:
                  type: string
                  description: District
                  example: INTERLAGOS
                complement:
                  type: string
                  description: Additional address information
        items:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/Generic'
            - $ref: '#/components/schemas/GenericLegacy'
            - $ref: '#/components/schemas/Financing'
            - $ref: '#/components/schemas/CarRental'
            - $ref: '#/components/schemas/Lodging'
            - $ref: '#/components/schemas/Flight'
            - $ref: '#/components/schemas/Education'
            - $ref: '#/components/schemas/CellphoneInsurance'
            - $ref: '#/components/schemas/CarPenaltyFee'
            - $ref: '#/components/schemas/TravelInsurance'
            - $ref: '#/components/schemas/Tour'
            - $ref: '#/components/schemas/TransferDS'
            - $ref: '#/components/schemas/Bus'
        ip_address:
          type: string
          description: Buyer ip address
          example: 192.0.2.146
        verified_id:
          type: boolean
          description: Indicates if the buyer's ID was verified
        descriptor:
          type: string
          description: Description sent to recipient of payment (Max. 140 characters)
        device_fingerprint:
          type: string
          description: Represents the device used to initiate the payment
          example: 3f139f92d30d54f1aaf519b3a39a20814
        notification_url:
          type: array
          description: List of urls to which notifications will be sent
          items:
            type: string
            example: https://www.providerApi.com/notificationPayments
        payment_url:
          type: string
          description: Url checkout for payment
          example: https://www.providerApi.com/payments/checkout
        terms:
          type: object
          properties:
            accepted:
              type: boolean
              description: Indicates whether the customer accepted the terms and conditions (required for transparent checkout)
              example: true
    Person:
      title: Person
      type: object
      properties:
        id:
          type: string
          description: Client custom person identifier
          example: c1245228
        first_name:
          type: string
          description: First name. Required if full_name is blank.
          example: Alvaro
        last_name:
          type: string
          description: Last name.  Required if full_name is blank.
          example: Garrincha
        full_name:
          type: string
          description: Full name. Is required if first_name and last_name are blank
          example: Alvaro Garrincha
        document:
          $ref: '#/components/schemas/Document'
        gender:
          type: string
          description: Gender
          enum:
          - FEMALE
          - MALE
          - OTHER
        address:
          $ref: '#/components/schemas/Address'
        birth_date:
          type: string
          description: Birthdate
          example: '1990-05-06'
        email:
          type: string
          description: Email contact. Required for Ecommerce Antifraud Data
          example: email@domain
        phone:
          description: phone
          allOf:
          - $ref: '#/components/schemas/Phone'
    LicesingAmount:
      title: licesing_amount
      type: object
      allOf:
      - $ref: '#/components/schemas/Amount'
    Tour:
      title: Tour
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/TravelInsuranceProvider'
        modality:
          type: string
          description: Tour modality
        description:
          type: string
          description: Description of the product
        passengers_resume:
          $ref: '#/components/schemas/PassengersResume'
      allOf:
      - $ref: '#/components/schemas/DestinationService'
    PaymentCardSchemas:
      title: CARD
      oneOf:
      - $ref: '#/components/schemas/PaymentCard'
      - $ref: '#/components/schemas/PaymentCardWithAntiFraud'
      - $ref: '#/components/schemas/PaymentCardWithCheckOut'
    Lodging:
      title: Lodging
      type: object
      required:
      - checkin_date
      - checkout_date
      - nights
      - address
      properties:
        address:
          $ref: '#/components/schemas/Address'
        checkin_date:
          type: string
          description: Checkin date (In ISO 8601 format with UTC in GMT 0)
          example: '2021-01-01T00:00:00.000Z'
        checkout_date:
          type: string
          description: Checkout date (In ISO 8601 format with UTC in GMT 0)
          example: '2021-01-01T00:00:00.000Z'
        guests:
          uniqueItems: true
          description: guests
          type: array
          items:
            $ref: '#/components/schemas/Person'
        lodger:
          description: lodger details
          allOf:
          - $ref: '#/components/schemas/Lodger'
        nights:
          type: integer
          description: Number of nights
          example: '8'
        refundable:
          description: is refundable
          example: 'true'
      allOf:
      - $ref: '#/components/schemas/Item'
    PixPaymentResponse:
      title: Pix payment response
      type: object
      required:
      - transaction
      - order_id
      - status
      - country_code
      properties:
        store:
          type: object
          properties:
            code:
              type: string
              description: Store identifier.
              example: SBXSTORE
            category:
              type: string
              description: Four-digit ISO 18245 merchant category code.
              example: 4816
        transaction:
          required:
          - reference_id
          - amount
          type: object
          properties:
            reference_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
              example: REF0000001
            business_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Business ID. The ID of the transaction related with this payment.
              example: BIZ0000001
            account:
              type: integer
              description: Client account number.
              example: SBXSTORE
            amount:
              required:
              - currency_code
              - value
              type: object
              properties:
                currency_code:
                  type: string
                  pattern: '[A-Z]{3}'
                  description: Currency code (ISO 4217)
                  example: BRL
                value:
                  type: number
                  pattern: d{1,10}.d{2}
                  description: Total amount
                  example: 1500.56
            provider_reference:
              description: Provider reference data
              required:
              - tx_id
              type: object
              properties:
                tx_id:
                  type: string
                  description: Provider order identifier, used to identify the order in the bank
                  example: '20000000000000026628140042292'
        order_id:
          type: string
          description: Order ID returned by create payment service
          example: 9dd3f765-a51a-49d8-b6af-a51d5a0b3f7f
        status:
          type: object
          required:
          - type
          - date
          properties:
            type:
              type: string
              enum:
              - Opened
              - Published
              - Collected
              - Failed
              description: Payment status.
            date:
              type: string
              format: date-time
              description: Status change date (ISO 8601 date format)
        country_code:
          type: string
          description: Transaction country code.
          example: BR
        locations:
          type: array
          description: Locations data
          items:
            required:
            - qr_code
            - emv
            type: object
            properties:
              url:
                type: string
                maxLength: 77
                description: Url to download the QR code. (Not yet available from the central bank)
                example: pix.example.com/qr/9d36b84f-c70b-478f-b95c-12729b90ca25
              qr_code:
                type: string
                description: Information to show the QR code on your payment page, image in base64.
              emv:
                type: string
                description: Represents in image the data referring to the QR code.
        code:
          type: string
          description: Standardized error code (applies only for error cases)
        message:
          type: string
          description: Message associated with the error code (applies only for error cases)
        return_url:
          type: string
          description: The URL you need to redirect the end user back.
          example: https://payments.koin.com.br/checkout/2609bd4a-60ba-8fb6-ac9f-0b28f67f679e
    Insurance:
      title: Insurance
      type: object
      properties:
        expiration_date:
          type: string
          format: date-time
        installment:
          type: number
          format: bigdecimal
        subscription_date:
          type: string
          format: date-time
        type:
          type: string
    RefundDetailResponse:
      title: Refund Detail Response
      type: object
      required:
      - id
      - amount
      - status
      properties:
        id:
          type: string
          description: Unique refund identifier.
          example: 1001
        amount:
          required:
          - currency_code
          - value
          type: object
          properties:
            currency_code:
              type: string
              pattern: '[A-Z]{3}'
              description: Currency code (ISO 4217)
              example: BRL
            value:
              type: number
              pattern: d{1,10}.d{2}
              description: Refund total amount
              example: 1500.56
        status:
          $ref: '#/components/schemas/StatusRefund'
        code:
          type: string
          description: Standardized error code (applies only for error cases)
        message:
          type: string
          description: Message associated with the error code (applies only for error cases)
        causes:
          type: array
          description: List of strings that details the cause that generates the error.
          items:
            type: string
    PaymentPIXCheckout:
      title: Pix Checkout
      required:
      - transaction
      - country_code
      - payment_method
      - notification_url
      type: object
      properties:
        store:
          type: object
          properties:
            code:
              type: string
              description: Store identifier
              example: SBXSTORE
            category:
              type: string
              description: Four-digit ISO 18245 merchant category code
              example: 4816
        transaction:
          required:
          - reference_id
          - amount
          - account
          type: object
          properties:
            reference_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
              example: REF0000001
            business_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Business ID. The ID of the transaction related with this payment
              example: BIZ0000001
            account:
              type: string
              description: Client account number provided by Koin
              example: SBX000
            amount:
              required:
              - currency_code
              - value
              type: object
              properties:
                currency_code:
                  type: string
                  pattern: '[A-Z]{3}'
                  description: Currency code (ISO 4217)
                  example: BRL
                value:
                  type: number
                  pattern: d{1,10}.d{2}
                  description: Payment total amount
                  example: 1500.56
                breakdown:
                  required:
                  - items
                  - shipping
                  - taxes
                  type: object
                  properties:
                    items:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Items total amount
                          example: 1500
                    shipping:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Shipping total amount
                          example: 500.56
                    taxes:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Taxes total amount
                          example: 0
                    fee:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Fee total amount
                          example: 0
        country_code:
          type: string
          description: Transaction country code (two-letter ISO 3166 country code)
          example: BR
        payment_method:
          required:
          - code
          - expiration_date
          type: object
          properties:
            code:
              type: string
              enum:
              - PIX
              - CARD
              - BNPL
              description: Payment method code
            expiration_date:
              type: string
              format: date-time
              description: Payment expiration date (In ISO 8601 format with UTC in GMT 0)
              example: '2021-01-01T00:00:00.000Z'
            payment_key:
              type: string
              description: Represents the pix key. Exclusive for the PIX payment method. If you do not send a pix key, a previously configured default will be used. (Maximum of 100 characters)
              example: sbx@paymentKey
        payer:
          required:
          - document
          properties:
            document:
              description: Payer ID
              required:
              - type
              - number
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - cpf
                  - cnpj
                  description: Payer document type
                number:
                  type: string
                  pattern: (^[0-9]{11}$)|(^[0-9]{14}$)
                  description: Payer document number
                  example: '54672396002'
                nationality:
                  type: string
                  description: Payer nationality (two-letter ISO 3166 country code)
                  example: BR
            first_name:
              type: string
              maxLength: 100
              description: Payer first name. If the length of the field exceeds 100 characters it will be truncated
              example: Jhon
            last_name:
              type: string
              maxLength: 100
              description: Payer last name. If the length of the field exceeds 100 characters it will be truncated
              example: Doe
            full_name:
              type: string
              maxLength: 100
              description: Payer full name. If the length of the field exceeds 100 characters it will be truncated
              example: Jhon Doe Jones
            email:
              type: string
              description: Payer email
              example: jhon_doe@domain.com
            phone:
              required:
              - area
              - number
              type: object
              properties:
                country_code:
                  type: string
                  description: Country code
                  example: '+55'
                area:
                  type: string
                  description: Area code
                  example: '11'
                number:
                  type: string
                  description: Phone number
                  example: '984565666'
                type:
                  type: string
                  description: Phone type.
                  example: Mobile
        descriptor:
          type: string
          description: Description sent to recipient of payment (Max. 140 characters)
        notification_url:
          type: array
          description: List of urls to which notifications will be sent
          items:
            type: string
            example: https://www.providerApi.com/notificationPayments
        redirect_url:
          required:
          - success_url
          - cancel_url
          - failed_url
          type: object
          properties:
            success_url:
              type: string
              description: Provider redirect Success url
              example: https://www.provider.com/successUrl
            cancel_url:
              type: string
              description: Provider redirect Cancel url
              example: https://www.provider.com/cancelUrl
            failed_url:
              type: string
              description: Provider redirect Failed url
              example: https://www.provider.com/failedUrl
    Course:
      title: course
      type: object
      properties:
        category:
          type: string
        end_date:
          type: string
          description: Course end date (In ISO 8601 format with UTC in GMT 0)
          example: '2021-01-01T00:00:00.000Z'
        link:
          type: string
          description: Course link
          example: https://link
        monthly_fee:
          type: number
          description: Course monthly fee
          example: '245.12'
        name:
          type: string
        presential:
          type: boolean
        scholarship_percentage:
          type: integer
          description: Course scholarship percentage
          example: '20'
        start_date:
          type: string
          description: Course start date (In ISO 8601 format with UTC in GMT 0)
          example: '2021-01-01T00:00:00.000Z'
        subcategory:
          type: string
    DepartureAirport:
      title: departure
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseAirportData'
    ErrorResponse:
      title: Error Response
      type: object
      properties:
        code:
          type: string
          description: Standardized error code.
        message:
          type: string
          description: Error message.
        causes:
          type: array
          description: List of error causes.
          items:
            type: string
    PaymentCard:
      title: Card
      required:
      - transaction
      - country_code
      - payment_method
      - payer
      - notification_url
      type: object
      properties:
        store:
          type: object
          properties:
            code:
              type: string
              description: Store identifier
              example: SBXSTORE
        transaction:
          required:
          - reference_id
          - account
          - amount
          type: object
          properties:
            reference_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
              example: REF0000001
            business_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Business ID. The ID of the transaction related with this payment
              example: BIZ0000001
            account:
              type: string
              description: Client account number provided by Koin
              example: SBX000
            amount:
              required:
              - currency_code
              - value
              type: object
              properties:
                currency_code:
                  type: string
                  pattern: '[A-Z]{3}'
                  description: Currency code (ISO 4217)
                  example: BRL
                value:
                  type: number
                  pattern: d{1,10}.d{2}
                  description: Payment total amount
                  example: 1500.56
                breakdown:
                  required:
                  - items
                  type: object
                  properties:
                    items:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Items total amount
                          example: 1000
                    shipping:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Shipping total amount
                          example: 500.56
                    fee:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Fee total amount
                          example: 0
        country_code:
          type: string
          description: Transaction country code (two-letter ISO 3166 country code)
          example: BR
        payment_method:
          oneOf:
          - $ref: '#/components/schemas/PaymentCardMethod'
          - $ref: '#/components/schemas/PaymentCardGooglePayMethod'
        payer:
          properties:
            document:
              description: Payer ID (only required for country_code AR)
              required:
              - type
              - number
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - cpf
                  - cnpj
                  description: Payer document type
                number:
                  type: string
                  pattern: (^[0-9]{11}$)|(^[0-9]{14}$)
                  description: Payer document number
                  example: '54672396002'
            phone:
              required:
              - area
              - number
              type: object
              properties:
                area:
                  type: string
                  description: Area code
                  example: '11'
                number:
                  type: string
                  description: Phone number
                  example: '984565666'
        descriptor:
          type: string
          description: Description sent to recipient of payment (Max. 140 characters)
        notification_url:
          type: array
          description: List of urls to which notifications will be sent
          items:
            type: string
            example: https://www.providerApi.com/notificationPayments
    CardPaymentResponse:
      title: Card payment response
      type: object
      required:
      - transaction
      - status
      - country_code
      properties:
        store:
          type: object
          properties:
            code:
              type: string
              description: Store identifier.
              example: SBXSTORE
        transaction:
          required:
          - reference_id
          - amount
          type: object
          properties:
            reference_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
              example: REF0000001
            business_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Business ID. The ID of the transaction related with this payment.
              example: BIZ0000001
            account:
              type: string
              description: Client account number.
              example: SBXSTORE
            amount:
              required:
              - currency_code
              - value
              type: object
              properties:
                currency_code:
                  type: string
                  pattern: '[A-Z]{3}'
                  description: Currency code (ISO 4217)
                  example: BRL
                value:
                  type: number
                  pattern: d{1,10}.d{2}
                  description: Total amount
                  example: 1500.56
            authorization_code:
              type: string
              description: Transaction authorization code
              example: '3239900'
            acquirer:
              type: string
              description: Transaction acquirer
              example: FISERV
            commerce_number:
              type: string
              description: Transaction commerce number
              example: '9236374834'
            provider_reference:
              type: object
              description: Provider reference data
              properties:
                order_id:
                  type: string
                  description: Provider order identifier, used to identify the order in the acquirer
                  example: '20000000000000026628140042292'
                payment_id:
                  type: string
                  description: Provider payment identifier, user to identify the payment in the acquirer. (Mandatory data when the payment is Collected)
                  example: E0036030520211216092957cb99ed693
                batch_id:
                  type: string
                  description: Batch identifier from the acquirer (optional)
                  example: '000012'
                ticket_number:
                  type: string
                  description: Ticket number from the acquirer (optional)
                  example: '000045'
                tid:
                  type: string
                  description: Transaction identifier from the acquirer (optional)
                  example: 10069930690009D31001
                nsu:
                  type: string
                  description: NSU (Número Sequencial Único) from the acquirer (optional)
                  example: '792048'
        order_id:
          type: string
          description: Order ID returned by create payment service
          example: 9dd3f765-a51a-49d8-b6af-a51d5a0b3f7f
        status:
          type: object
          required:
          - type
          - date
          properties:
            type:
              type: string
              enum:
              - Opened
              - Authorized
              - Failed
              description: Payment status.
            date:
              type: string
              format: date-time
              description: Status change date (ISO 8601 date format)
            expiration:
              type: string
              format: date-time
              description: Status expiration date (ISO 8601 date format)
            reason:
              type: string
              description: Payment status reason
        country_code:
          type: string
          description: Transaction country code.
          example: BR
        antifraud:
          type: object
          required:
          - type
          - date
          properties:
            type:
              type: string
              enum:
              - Approved
              - Denied
              - Received
              - Undefined
              description: Anti fraud status.
            date:
              type: string
              format: date-time
              description: Anti fraud status date (ISO 8601 date format)
            strategies:
              type: array
              description: Antifraud strategies
              items:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                    - VerificationCode
                    - Liveness
                    - ManualVerification
                    - CollectAuthRecovery
                    description: Strategy type
                  link:
                    type: string
                    description: Url for access the strategy page
        code:
          type: string
          description: Standardized error code (applies only for error cases)
        message:
          type: string
          description: Message associated with the error code (applies only for error cases)
        return_url:
          type: string
          description: The URL you need to redirect the end user back.
          example: https://payments.koin.com.br/checkout/2609bd4a-60ba-8fb6-ac9f-0b28f67f679e
    PixPaymentDetailResponse:
      title: Pix Payment Detail Response
      type: object
      required:
      - transaction
      - order_id
      - status
      - payment_method
      properties:
        store:
          type: object
          properties:
            code:
              type: string
              description: Store identifier.
              example: SBXSTORE
            category:
              type: string
              description: Four-digit ISO 18245 merchant category code.
              example: 4816
        transaction:
          required:
          - reference_id
          - amount
          type: object
          properties:
            reference_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
              example: REF0000001
            business_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Business ID. The ID of the transaction related with this payment.
              example: BIZ0000001
            account:
              type: string
              description: Client account number provided by Koin.
              example: SBXSTORE
            amount:
              required:
              - currency_code
              - value
              type: object
              properties:
                currency_code:
                  type: string
                  pattern: '[A-Z]{3}'
                  description: Currency code (ISO 4217)
                  example: BRL
                value:
                  type: number
                  pattern: d{1,10}.d{2}
                  description: Payment total amount
                  example: 1500.56
            provider_reference:
              description: Provider reference data
              required:
              - tx_id
              type: object
              properties:
                tx_id:
                  type: string
                  description: Provider order identifier, used to identify the order in the bank
                  example: '20000000000000026628140042292'
                end_to_end_id:
                  type: string
                  description: Provider payment identifier, user to identify the payment in the bank. (Mandatory data when the payment is Collected)
                  example: E0036030520211216092957cb99ed693
        order_id:
          type: string
          description: Order ID returned by create payment service
          example: 9dd3f765-a51a-49d8-b6af-a51d5a0b3f7f
        status:
          type: object
          required:
          - type
          - date
          properties:
            type:
              type: string
              enum:
              - Opened
              - Published
              - Cancelled
              - Collected
              - Refunded
              - Failed
              description: Payment status.
            date:
              type: string
              format: date-time
              description: Status change date (ISO 8601 date format)
        locations:
          type: array
          description: Locations data
          items:
            required:
            - qr_code
            - emv
            type: object
            properties:
              url:
                type: string
                maxLength: 77
                description: Url to download the QR code. (Not yet available from the central bank)
                example: pix.example.com/qr/9d36b84f-c70b-478f-b95c-12729b90ca25
              qr_code:
                type: string
                description: Information to show the QR code on your payment page, image in base64.
              emv:
                type: string
                description: Represents in image the data referring to the QR code.
        payment_method:
          required:
          - code
          type: object
          properties:
            code:
              type: string
              enum:
              - PIX
              - CARD
              description: Payment method code.
            expiration_date:
              type: string
              format: date-time
              description: Expiration date. (In ISO 8601 format with UTC in GMT 0)
              example: '2021-01-01T00:00:00.000Z'
            payment_key:
              type: string
              description: Represents the pix key (Maximum of 100 characters)
              example: sbx@paymentKey
        payer:
          properties:
            document:
              required:
              - type
              - number
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - cpf
                  - cnpj
                  description: Payer document type (cpf, cnpj)
                number:
                  type: string
                  pattern: (^[0-9]{11}$)|(^[0-9]{14}$)
                  description: Payer document number
                nationality:
                  type: string
                  description: Payer nationality (two-letter ISO 3166 country code)
                  example: BR
            first_name:
              type: string
              maxLength: 100
              description: Payer first name. If the length of the field exceeds 100 characters it will be truncated.
              example: Jhon
            last_name:
              type: string
              maxLength: 100
              description: Payer second name. If the length of the field exceeds 100 characters it will be truncated.
              example: Box
            full_name:
              type: string
              maxLength: 100
              description: Full name. If the length of the field exceeds 100 characters it will be truncated.
              example: Box Jhon
            email:
              type: string
              description: Payer email.
              example: example@dominio.com
            phone:
              required:
              - area
              - number
              type: object
              properties:
                area:
                  type: string
                  description: Phone area code
                  example: 1
                number:
                  type: string
                  description: Phone number
                type:
                  type: string
                  description: Phone type.
        provider:
          type: object
          properties:
            code:
              type: string
              example: ITAU
              description: Provider code for the integration used to process the transaction.
            payer:
              properties:
                document:
                  type: object
                  required:
                  - type
                  - number
                  properties:
                    type:
                      type: string
                      enum:
                      - cpf
                      - cnpj
                      description: Payer document type (cpf, cnpj)
                    number:
                      type: string
                      pattern: (^[0-9]{11}$)|(^[0-9]{14}$)
                      description: Payer document number
                full_name:
                  type: string
                  maxLength: 100
                  description: Full name. If the length of the field exceeds 100 characters it will be truncated.
                  example: Box Jhon
                account:
                  type: object
                  properties:
                    ispb:
                      type: string
                      description: Brazilian Payment System Identifier (eight-number length).
                      example: 12345678
                    agency:
                      type: string
                      description: Agency of the account.
                      example: 1500
                    code:
                      type: string
                      description: Payer account number.
                      example: 123456789
                    type:
                      type: string
                      description: Payer account type.
                      example: CC
        refunds:
          type: array
          description: Refunds data
          items:
            $ref: '#/components/schemas/RefundDetailResponse'
        code:
          type: string
          description: Standardized error code (applies only for error cases)
        message:
          type: string
          description: Message associated with the error code (applies only for error cases)
    CellphoneInsurance:
      type: object
      title: CellphoneInsurance
      properties:
        client:
          $ref: '#/components/schemas/Client'
        device:
          $ref: '#/components/schemas/Device'
        insurance:
          $ref: '#/components/schemas/Insurance'
      allOf:
      - $ref: '#/components/schemas/Item'
    CarDelivery:
      title: CarDelivery
      type: object
      required:
      - date
      - address
      properties:
        address:
          description: Delivery address
          allOf:
          - $ref: '#/components/schemas/Address'
        date:
          type: string
          description: Delivery date (In ISO 8601 format with UTC in GMT 0)
          example: '2021-01-01T00:00:00.000Z'
    Client:
      title: client
      type: object
      allOf:
      - $ref: '#/components/schemas/Person'
    ArrivalBus:
      title: arrival
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseBusData'
    PaymentPixFull:
      title: PIX
      oneOf:
      - $ref: '#/components/schemas/PaymentPIXApi'
      - $ref: '#/components/schemas/PaymentPIXCheckout'
    Education:
      title: Education
      type: object
      properties:
        course:
          description: Course details
          allOf:
          - $ref: '#/components/schemas/Course'
        students:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Student'
      allOf:
      - $ref: '#/components/schemas/Item'
    DropOff:
      title: drop_off
      type: object
      allOf:
      - $ref: '#/components/schemas/CarDelivery'
    Segment:
      title: Segment
      type: object
      properties:
        airline_code:
          type: string
          description: Airline code
          example: AA
        departure:
          description: Departure airport data
          allOf:
          - $ref: '#/components/schemas/DepartureAirport'
        arrival:
          description: Arrival airport data
          allOf:
          - $ref: '#/components/schemas/ArrivalAirport'
        flight_class:
          description: Flight class
          type: string
        flight_number:
          description: Flight number
          type: integer
          example: '123'
        position:
          description: Segment order
          type: integer
          example: '1'
    GenericLegacy:
      title: GenericLegacy
      type: object
      deprecated: true
      required:
      - reference
      - name
      - price
      - quantity
      - discount
      - category
      properties:
        reference:
          type: string
          description: Item identifier
          example: ITM00001
        name:
          type: string
          description: Item name
          example: Pencil
        price:
          required:
          - currency_code
          - value
          type: object
          description: Item price
          properties:
            currency_code:
              type: string
              pattern: '[A-Z]{3}'
              description: Currency code (ISO 4217)
              example: BRL
            value:
              type: number
              pattern: d{1,10}.d{2}
              description: Amount
              example: 1500.56
        quantity:
          type: integer
          description: Item quantity
          example: 10
        discount:
          type: number
          pattern: d{1,10}.d{2}
          description: Item discount
          example: 0.5
        category:
          type: string
          description: Category name
          example: School supplies
    Shipping:
      title: shipping
      required:
      - price
      - address
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        delivery:
          $ref: '#/components/schemas/Delivery'
        price:
          $ref: '#/components/schemas/Price'
          description: Shipping price
    Item:
      title: Item
      required:
      - category
      - id
      - name
      - price
      - quantity
      - type
      type: object
      discriminator:
        propertyName: type
        mapping:
          Generic: '#/components/schemas/Generic'
          CarRental: '#/components/schemas/CarRental'
          Lodging: '#/components/schemas/Lodging'
          Flight: '#/components/schemas/Flight'
          Education: '#/components/schemas/Education'
          CellphoneInsurance: '#/components/schemas/CellphoneInsurance'
          CarPenaltyFee: '#/components/schemas/CarPenaltyFee'
          TravelInsurance: '#/components/schemas/TravelInsurance'
          Tour: '#/components/schemas/Tour'
          Transfer: '#/components/schemas/TransferDS'
          Financing: '#/components/schemas/Financing'
          GenericLegacy: '#/components/schemas/GenericLegacy'
          Bus: '#/components/schemas/Bus'
          Subscription: '#/components/schemas/Subscription'
      properties:
        category:
          $ref: '#/components/schemas/Category'
        discount_amount:
          $ref: '#/components/schemas/DiscountAmount'
          description: Item price discount
        id:
          type: string
          description: Item id
          example: '13238487'
        name:
          type: string
          description: item name
          example: Some name
        price:
          $ref: '#/components/schemas/Price'
          description: Item price
        quantity:
          type: integer
          description: Item quantity
          format: int32
          example: 5
        seller_id:
          type: string
          description: Item seller
          example: Some Seller
        service_date:
          type: string
          description: Date which the service will take place (In ISO 8601 format with UTC in GMT 0)
          example: '2021-01-01T00:00:00.000Z'
        type:
          type: string
          description: Item type
          enum:
          - Generic
          - CarRental
          - Lodging
          - Flight
          - Education
          - DestinationService
          - CellphoneInsurance
          - CarPenaltyFee
          - Financing
          - Subscription
          - Bus
    PaymentCardWithCheckOut:
      title: Card with checkout
      required:
      - transaction
      - country_code
      - payment_method
      - payer
      - notification_url
      type: object
      properties:
        store:
          type: object
          properties:
            code:
              type: string
              description: Store identifier
              example: SBXSTORE
            category:
              type: string
              description: Four-digit ISO 18245 merchant category code
              example: 4816
        transaction:
          required:
          - reference_id
          - account
          - amount
          type: object
          properties:
            reference_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
              example: REF0000001
            business_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Business ID. The ID of the transaction related with this payment
              example: BIZ0000001
            account:
              type: string
              description: Client account number provided by Koin
              example: SBX000
            amount:
              required:
              - currency_code
              - value
              type: object
              properties:
                currency_code:
                  type: string
                  pattern: '[A-Z]{3}'
                  description: Currency code (ISO 4217)
                  example: BRL
                value:
                  type: number
                  pattern: d{1,10}.d{2}
                  description: Payment total amount
                  example: 1500.56
                breakdown:
                  type: object
                  properties:
                    items:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Items total amount
                          example: 1000
                    taxes:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Shipping total amount
                          example: 500.56
                    shipping:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Shipping total amount
                          example: 500.56
                    fee:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Fee total amount
                          example: 0
        country_code:
          type: string
          description: Transaction country code (two-letter ISO 3166 country code)
          example: BR
        payment_method:
          required:
          - code
          type: object
          properties:
            code:
              type: string
              enum:
              - CARD
              description: Payment method code
            expiration_date:
              type: string
              format: date-time
              description: Link checkout expiration date (In ISO 8601 format with UTC in GMT 0)
              example: '2021-01-01T00:00:00.000Z'
        payer:
          required:
          - email
          properties:
            first_name:
              type: string
              maxLength: 100
              description: Payer first name. Required if full_name is blank.
              example: Jhon
            last_name:
              type: string
              maxLength: 100
              description: Payer last name. Required if full_name is blank.
              example: Doe
            full_name:
              type: string
              maxLength: 100
              description: Payer full name. Required if first_name and last_name are blank.
              example: Jhon Doe Jones
            document:
              description: Payer ID
              required:
              - type
              - number
              type: object
              properties:
                type:
                  type: string
                  description: Payer document type
                  example: cpf
                number:
                  type: string
                  description: Payer document number
                  example: '54672396002'
                nationality:
                  type: string
                  description: Payer nationality (two-letter ISO 3166 country code)
                  example: BR
            gender:
              type: string
              description: Payer gender
              enum:
              - FEMALE
              - MALE
              - OTHER
            address:
              $ref: '#/components/schemas/Address'
            birthdate:
              type: string
              pattern: ^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$
              description: Payer birthdate
              example: '1980-10-20'
            email:
              type: string
              description: Payer email. Required for Ecommerce Antifraud integration.
              example: jhon_doe@domain.com
            phone:
              required:
              - area
              - number
              type: object
              properties:
                country_code:
                  type: string
                  description: Country code
                  example: '+55'
                area:
                  type: string
                  description: Area code
                  example: '11'
                number:
                  type: string
                  description: Phone number
                  example: '984565666'
                type:
                  type: string
                  description: Phone type.
                  example: Mobile
        buyer:
          allOf:
          - $ref: '#/components/schemas/Buyer'
          description: Buyer information, required for Ecommerce Antifraud integration.
        items:
          type: array
          description: Required for Ecommerce Antifraud integration.
          items:
            oneOf:
            - $ref: '#/components/schemas/Generic'
            - $ref: '#/components/schemas/CarRental'
            - $ref: '#/components/schemas/Lodging'
            - $ref: '#/components/schemas/Flight'
            - $ref: '#/components/schemas/Education'
            - $ref: '#/components/schemas/CellphoneInsurance'
            - $ref: '#/components/schemas/CarPenaltyFee'
            - $ref: '#/components/schemas/TravelInsurance'
            - $ref: '#/components/schemas/Tour'
            - $ref: '#/components/schemas/TransferDS'
            - $ref: '#/components/schemas/Financing'
        shipping:
          $ref: '#/components/schemas/Shipping'
        descriptor:
          type: string
          description: Description sent to recipient of payment (Max. 140 characters)
        notification_url:
          type: array
          description: List of urls to which notifications will be sent
          items:
            type: string
            example: https://www.providerApi.com/notificationPayments
        session_id:
          type: string
          description: Value generated by javascript snippet of our device fingerprint solution
          example: 5b8c20c3-45de-41bf-b243-87ad5d21bc3b
        ip_address:
          type: string
          description: Buyer ip address
          example: 127.0.0.1
        redirect_url:
          required:
          - success_url
          - cancel_url
          - failed_url
          type: object
          properties:
            success_url:
              type: string
              description: Provider redirect Success url
              example: https://www.provider.com/successUrl
            cancel_url:
              type: string
              description: Provider redirect Cancel url
              example: https://www.provider.com/cancelUrl
            failed_url:
              type: string
              description: Provider redirect Failed url
              example: https://www.provider.com/failedUrl
        mobile:
          type: boolean
          description: Indicates if the device is mobile
    InsuranceAmount:
      title: insurance_amount
      type: object
      allOf:
      - $ref: '#/components/schemas/Amount'
    CardPaymentDetailResponse:
      title: Card Payment Detail Response
      type: object
      required:
      - transaction
      - status
      - payment_method
      properties:
        store:
          type: object
          properties:
            code:
              type: string
              description: Store identifier.
              example: SBXSTORE
            category:
              type: string
              description: Four-digit ISO 18245 merchant category code.
              example: 4816
        transaction:
          required:
          - reference_id
          - amount
          type: object
          properties:
            reference_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
              example: REF0000001
            business_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Business ID. The ID of the transaction related with this payment.
              example: BIZ0000001
            account:
              type: string
              description: Client account number provided by Koin.
              example: SBXSTORE
            amount:
              required:
              - currency_code
              - value
              type: object
              properties:
                currency_code:
                  type: string
                  pattern: '[A-Z]{3}'
                  description: Currency code (ISO 4217)
                  example: BRL
                value:
                  type: number
                  pattern: d{1,10}.d{2}
                  description: Payment total amount
                  example: 1500.56
            provider_reference:
              type: object
              description: Provider reference data
              properties:
                order_id:
                  type: string
                  description: Provider order identifier, used to identify the order in the acquirer
                  example: '20000000000000026628140042292'
                payment_id:
                  type: string
                  description: Provider payment identifier, user to identify the payment in the acquirer. (Mandatory data when the payment is Collected)
                  example: E0036030520211216092957cb99ed693
                batch_id:
                  type: string
                  description: Batch identifier from the acquirer (optional)
                  example: '000012'
                ticket_number:
                  type: string
                  description: Ticket number from the acquirer (optional)
                  example: '000045'
                tid:
                  type: string
                  description: Transaction identifier from the acquirer (optional)
                  example: 10069930690009D31001
                nsu:
                  type: string
                  description: NSU (Número Sequencial Único) from the acquirer (optional)
                  example: '792048'
        order_id:
          type: string
          description: Order ID returned by create payment service
          example: 9dd3f765-a51a-49d8-b6af-a51d5a0b3f7f
        status:
          type: object
          required:
          - type
          - date
          properties:
            type:
              type: string
              description: Payment status.
            date:
              type: string
              format: date-time
              description: Status change date (ISO 8601 date format)
            expiration:
              type: string
              format: date-time
              description: Status expiration date (ISO 8601 date format)
            reason:
              type: string
              description: Payment status reason
        payment_method:
          required:
          - code
          - installments
          type: object
          properties:
            code:
              type: string
              enum:
              - CARD
              description: Payment method code.
            installments:
              type: number
              example: 1
              description: Installments of the payment
        payer:
          properties:
            document:
              required:
              - type
              - number
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - cpf
                  - cnpj
                  description: Payer document type (cpf, cnpj)
                number:
                  type: string
                  pattern: (^[0-9]{11}$)|(^[0-9]{14}$)
                  description: Payer document number
            phone:
              required:
              - area
              - number
              type: object
              properties:
                area:
                  type: string
                  description: Phone area code
                  example: 1
                number:
                  type: string
                  description: Phone number
        refunds:
          type: array
          description: Refunds data
          items:
            $ref: '#/components/schemas/RefundDetailResponse'
        antifraud:
          type: object
          required:
          - type
          - date
          properties:
            type:
              type: string
              enum:
              - Approved
              - Denied
              - Received
              - Undefined
              description: Anti fraud status.
            date:
              type: string
              format: date-time
              description: Anti fraud status date (ISO 8601 date format)
        code:
          type: string
          description: Standardized error code (applies only for error cases)
        message:
          type: string
          description: Message associated with the error code
    Category:
      title: category
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          description: Item category id
          example: '111'
        name:
          type: string
          description: Item category name
          example: Some category name
    PassengerBus:
      title: passenger
      required:
      - first_name
      - last_name
      - document
      type: object
      properties:
        id:
          type: string
          description: Person id
          example: c1245228
        first_name:
          type: string
          description: First name
          example: Alvaro
        last_name:
          type: string
          description: Last name
          example: Garrincha
        document:
          $ref: '#/components/schemas/Document'
        gender:
          type: string
          description: Gender
          enum:
          - FEMALE
          - MALE
          - OTHER
        address:
          $ref: '#/components/schemas/Address'
        birth_date:
          type: string
          description: Birthdate
          example: '1990-05-06'
        email:
          type: string
          description: Email contact
          example: email@domain
        phone:
          description: phone
          allOf:
          - $ref: '#/components/schemas/PhoneBus'
    Delivery:
      title: delivery
      required:
      - by
      - date
      - type
      type: object
      properties:
        by:
          type: string
          description: Shipping delivery company
          example: DHL
        date:
          type: string
          description: 'Shipping delivery date. Format "yyyy-MM-dd''T''HH:mm:ss.SSS''Z''" as described in the ISO 8601 '
          example: '2021-02-23T14:10:44.307062Z'
        type:
          type: string
          description: Shipping delivery type
          example: EXPRESS
          enum:
          - EXPRESS
          - NORMAL
    DiscountAmount:
      title: discount_amount
      type: object
      allOf:
      - $ref: '#/components/schemas/Amount'
    PaymentCardWithAntiFraud:
      title: Card with Antifraud
      required:
      - transaction
      - country_code
      - payment_method
      - notification_url
      - session_id
      type: object
      properties:
        store:
          type: object
          properties:
            code:
              type: string
              description: Store identifier
              example: SBXSTORE
            category:
              type: string
              description: Four-digit ISO 18245 merchant category code
              example: 4816
        transaction:
          required:
          - reference_id
          - account
          - amount
          type: object
          properties:
            reference_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
              example: REF0000001
            business_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Business ID. The ID of the transaction related with this payment
              example: BIZ0000001
            account:
              type: string
              description: Client account number provided by Koin
              example: SBX000
            amount:
              required:
              - currency_code
              - value
              type: object
              properties:
                currency_code:
                  type: string
                  pattern: '[A-Z]{3}'
                  description: Currency code (ISO 4217)
                  example: BRL
                value:
                  type: number
                  pattern: d{1,10}.d{2}
                  description: Payment total amount
                  example: 1500.56
                breakdown:
                  required:
                  - items
                  type: object
                  properties:
                    items:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Items total amount
                          example: 1000
                    shipping:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Shipping total amount
                          example: 500.56
                    fee:
                      required:
                      - currency_code
                      - value
                      type: object
                      properties:
                        currency_code:
                          type: string
                          pattern: '[A-Z]{3}'
                          description: Currency code (ISO 4217)
                          example: BRL
                        value:
                          type: number
                          pattern: d{1,10}.d{2}
                          description: Fee total amount
                          example: 0
        country_code:
          type: string
          description: Transaction country code (two-letter ISO 3166 country code)
          example: BR
        payment_method:
          oneOf:
          - $ref: '#/components/schemas/PaymentCardMethod'
          - $ref: '#/components/schemas/PaymentCardGooglePayMethod'
        payer:
          properties:
            first_name:
              type: string
              maxLength: 100
              description: Payer first name. Required if full_name is blank.
              example: Jhon
            last_name:
              type: string
              maxLength: 100
              description: Payer last name. Required if full_name is blank.
              example: Doe
            full_name:
              type: string
              maxLength: 100
              description: Payer full name. Required if first_name and last_name are blank.
              example: Jhon Doe Jones
            document:
              description: Payer ID
              required:
              - type
              - number
              type: object
              properties:
                type:
                  type: string
                  description: Payer document type
                  example: cpf
                number:
                  type: string
                  description: Payer document number
                  example: '54672396002'
                nationality:
                  type: string
                  description: Payer nationality (two-letter ISO 3166 country code)
                  example: BR
            gender:
              type: string
              description: Payer gender
              enum:
              - FEMALE
              - MALE
              - OTHER
            address:
              $ref: '#/components/schemas/Address'
            birthdate:
              type: string
              pattern: ^\d{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$
              description: Payer birthdate
              example: '1980-10-20'
            email:
              type: string
              description: Payer email. Required for Ecommerce Antifraud integration.
              example: jhon_doe@domain.com
            phone:
              required:
              - area
              - number
              type: object
              properties:
                country_code:
                  type: string
                  description: Country code
                  example: '+55'
                area:
                  type: string
                  description: Area code
                  example: '11'
                number:
                  type: string
                  description: Phone number
                  example: '984565666'
                type:
                  type: string
                  description: Phone type.
                  example: Mobile
        buyer:
          allOf:
          - $ref: '#/components/schemas/Buyer'
          description: Buyer information. Required for Ecommerce Antifraud integration.
        items:
          type: array
          description: Required for Ecommerce Antifraud integration.
          items:
            oneOf:
            - $ref: '#/components/schemas/Generic'
            - $ref: '#/components/schemas/CarRental'
            - $ref: '#/components/schemas/Lodging'
            - $ref: '#/components/schemas/Flight'
            - $ref: '#/components/schemas/Education'
            - $ref: '#/components/schemas/CellphoneInsurance'
            - $ref: '#/components/schemas/CarPenaltyFee'
            - $ref: '#/components/schemas/TravelInsurance'
            - $ref: '#/components/schemas/Tour'
            - $ref: '#/components/schemas/TransferDS'
            - $ref: '#/components/schemas/Financing'
            - $ref: '#/components/schemas/Subscription'
        shipping:
          $ref: '#/components/schemas/Shipping'
        descriptor:
          type: string
[...]
