openapi: 3.0.3
info:
  title: Antifraud Access Notification Services Sales API
  description: Antifraud services
  license:
    name: Apache License Version 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: '2.0'
servers:
- url: https://api-sandbox.koin.com.br
  description: Sandbox domain url
tags:
- name: Notification Services Sales
paths:
  /v1/payment/orders/{order_id}/notifications:
    post:
      tags:
      - Notification Services Sales
      summary: Payment Sale
      description: Receiving notifications of a sale finalized.
      operationId: notificationPOST
      x-experimental: true
      parameters:
      - name: order_id
        in: path
        description: Order ID returned by create payment service
        example: 9dd3f765-a51a-49d8-b6af-a51d5a0b3f7f
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSale'
      responses:
        '200':
          description: Notification response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    NotificationSale:
      title: Notification
      required:
      - status
      - transaction
      type: object
      properties:
        status:
          type: string
          description: Sale status. States supported Confirmed or Cancelled.
          example: Cancelled
        transaction:
          required:
          - reference_id
          type: object
          properties:
            reference_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Transaction identifier, generated by client. (Maximum of 50 characters - Unique per transaction).
              example: REF0000001
            business_id:
              type: string
              pattern: ^[a-zA-Z0-9_#.-]{0,50}$
              description: Business ID. The ID of the transaction related with this payment
              example: BIZ0000001
            provider_reference:
              type: object
              description: Provider reference data (optional, only available for Card payments)
              properties:
                batch_id:
                  type: string
                  description: Batch identifier from the acquirer (optional)
                  example: '000012'
                ticket_number:
                  type: string
                  description: Ticket number from the acquirer (optional)
                  example: '000045'
                tid:
                  type: string
                  description: Transaction identifier from the acquirer (optional)
                  example: 10069930690009D31001
                nsu:
                  type: string
                  description: NSU (Número Sequencial Único) from the acquirer (optional)
                  example: '792048'
        amount:
          description: Applies only for cancelled status.
          required:
          - currency_code
          - value
          type: object
          properties:
            currency_code:
              type: string
              pattern: '[A-Z]{3}'
              description: Currency code (ISO 4217)
              example: BRL
            value:
              type: number
              pattern: d{1,10}.d{2}
              description: Payment total amount
              example: 1500.56
    ErrorResponse:
      title: Error Response
      type: object
      properties:
        code:
          type: string
          description: Standardized error code.
        message:
          type: string
          description: Error message.
        causes:
          type: array
          description: List of error causes.
          items:
            type: string
